.main-logo {
    float: left;
    margin-left: 10px;
    width: 150px;
    height: 30px;
    background: url(../images/general/nav-logo-red.svg) left center no-repeat;
    background-size: 100%;
}

/* 首頁 */
.feature-list-bg {
    float: left;
    width: 100%;
    background-color: #eee;
    height: -ms-calc(100% - 60px);
    height: calc(100% - 60px);
  }
  
  .feature-list {
    float: left;
    background-color: #fff;
    margin: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100% - (25px) * 2);
    height: calc(100% - (25px) * 2);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .feature-list h2 {
    text-align: center;
    font-size: 1.6rem;
    margin: 50px auto;
  }
  
  .feature-list .logo-box {
    float: left;
    width: 100%;
    height: 60px;
    margin-top: 70px;
    background-image: url(../images/general/nav-logo-red.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 40px;
  }
  
  .feature-list-container {
    width: 1000px;
    margin: 50px auto;
  }
  
  .feature-list-container .item-feature {
    float: left;
    width: 100%;
    margin: 40px 0;
  }
  
  .feature-list-container .item-feature .title {
    width: 100%;
    text-align: center;
    margin-top: 5px;
  }
  
  .feature-list-container .item-feature .icon {
    margin: 0 auto 0;
    width: 171px;
    height: 171px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
  }
  
  .feature-list-container .item-feature .icon:hover {
    -webkit-transition: 0.095s linear;
    transition: 0.095s linear;
  }
  
  .feature-list-container .item-feature .icon.n0 {
    background-image: url(../images/feature-list/icon0.svg);
  }
  
  .feature-list-container .item-feature .icon.n0:hover {
    background-image: url(../images/feature-list/icon0_hover.svg);
  }
  
  .feature-list-container .item-feature .icon.n1 {
    background-image: url(../images/feature-list/icon1.svg);
  }
  
  .feature-list-container .item-feature .icon.n1:hover {
    background-image: url(../images/feature-list/icon1_hover.svg);
  }
  
  .feature-list-container .item-feature .icon.n2 {
    background-image: url(../images/feature-list/icon2.svg);
  }
  
  .feature-list-container .item-feature .icon.n2:hover {
    background-image: url(../images/feature-list/icon2_hover.svg);
  }
  
  .feature-list-container .item-feature .icon.n3 {
    background-image: url(../images/feature-list/icon3.svg);
  }
  
  .feature-list-container .item-feature .icon.n3:hover {
    background-image: url(../images/feature-list/icon3_hover.svg);
  }
  
  .feature-list-container .item-feature .icon.n4 {
    background-image: url(../images/feature-list/icon4.svg);
  }
  
  .feature-list-container .item-feature .icon.n4:hover {
    background-image: url(../images/feature-list/icon4_hover.svg);
  }
  
  .feature-list-container .item-feature .icon.n5 {
    background-image: url(../images/feature-list/icon5.svg);
  }
  
  .feature-list-container .item-feature .icon.n5:hover {
    background-image: url(../images/feature-list/icon5_hover.svg);
  }
  
  .feature-list-container .item-feature .icon.n6 {
    background-image: url(../images/feature-list/icon6.svg);
  }
  
  .feature-list-container .item-feature .icon.n6:hover {
    background-image: url(../images/feature-list/icon6_hover.svg);
  }
  
  .feature-list-container .item-feature .icon.n7 {
    background-image: url(../images/feature-list/icon7.svg);
  }
  
  .feature-list-container .item-feature .icon.n7:hover {
    background-image: url(../images/feature-list/icon7_hover.svg);
  }
  
  @media (max-width: 1600px) {
    .feature-list-container .item-feature {
      margin: 15px 0;
    }
    .feature-list-container .item-feature .icon {
      width: 151px;
      height: 151px;
    }
  }
  
  @media (max-width: 1300px) {
    .feature-list-container {
      width: 100%;
      padding: 0 50px;
    }
    .feature-list-container .item-feature .icon {
      width: 141px;
      height: 141px;
    }
  }
  
  @media (max-width: 1000px) {
    .feature-list-container {
      width: 100%;
      padding: 0 100px;
    }
  }
  
  @media (max-width: 700px) {
    .feature-list-container {
      width: 100%;
      padding: 0 20px;
    }
    .feature-list .logo-box {
      margin-top: 30px;
      background-size: auto 30px;
    }
    .feature-list-container .item-feature {
      margin: 18px 0;
    }
    .feature-list-container .item-feature .icon {
      width: 121px;
      height: 121px;
    }
  }