<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">查詢作業</a>
            </div>
            <!-- A(3)Period的勾選結果 -->
            <div class="big_title title s1">帳單作業</div>
            
            <div class="row-group">
                <div class="item_title title s2">帳單主檔查詢</div>
            </div>
            <!-- <div class="item_title title s2">Period</div> -->
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">查詢類別</div>
                    <div class="col-4 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_1" type="radio" name="radio01" value="1" checked="">
                            <label for="radio01_1">單筆帳單</label>
                        </span>
                        <span class="checkbox_box">
                            <input id="radio01_1" type="radio" name="radio01" value="1" checked="">
                            <label for="radio01_1">多筆帳單</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Our Statement No<br>帳單編號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Our Statement No<br>帳單編號</div>
                    <div class="col-4 col-border">
                        <input style="max-width: 38%;" type="text" placeholder="" required>
                        ～
                        <input style="max-width: 38%;" type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Period<br>帳單類型</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">A11</option>
                            <option value="">General</option>
                            <option value="">Profit</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Entry Date<br>輸入日期</div>
                    <div class="col-4 col-border">
                        <input style="max-width: 38%;" type="text" placeholder="" required>
                        ～
                        <input style="max-width: 38%;" type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Currency<br>幣別</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Settle Date<br>收付日期</div>
                    <div class="col-4 col-border">
                        <input style="max-width: 38%;" type="text" placeholder="" required>
                        ～
                        <input style="max-width: 38%;" type="text" placeholder="" required>
                    </div>
                </div>
            </div>
           <div class="row-group">
                <div class="row">
                    <div class="col-12 d-flex">
                        <button class="btn btn-primary">查詢</button>
                    </div>
                </div>
            </div>
            <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
                <div class="filterBar">
                    <div class="row-group">
                        <div class="row">
                            <div class="col-2">
                                <a href="#" id="" class="pages_icon to_left">⊻</a>
                                <a href="#" id="" class="pages_icon">＜</a>
                                <a href="#" id="" class="pages_icon">＞</a>
                                <a href="#" id="" class="pages_icon to_right">⊼</a>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>
                            </div>
                            <div class="col-2">
                                <span id="" class="">每頁</span>
                                <select name="" id="" style="min-width: 40px;">
                                    <option value="">10</option>
                                    <option value="">50</option>
                                    <option value="">100</option>
                                    <option value="">200</option>
                                </select>
                                <span id="" class="">筆</span>
                                <button class="btn btn-primary">確認</button>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">1</span>
                                <span id="" class="">頁</span>
                            </div>
                            <div class="col-3">
                                <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" id="" class="" style="width:32px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-primary">確認</button>
                                <!-- <button class="btn btn-primary">暫存</button> -->
                            </div>
                        </div>
                    </div>
                    
                </div>
                <table class="tblCssDataGrid css_table">
                    <tbody><tr class="cssDataGridHeader">
                        <th style="width:4%;">
                            <span class="checkbox_box">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1"></label>
                            </span>
                        </th>
                        <th style="width:10%;"><a href="">Treaty Code<br>合約卷號</a></th>
                        <th style="width:10%;"><a href="">Ceding Company Code<br>分保公司代碼</a></th>
                        <th style="width:10%;"><a href="">Broker Code<br>經紀人代碼</a></th>
                        <th style="width:10%;"><a href="">Entry Date<br>輸入日期</a></th>
                        <th style="width:10%;"> <a href="">Transfer Date<br>傳送日期</a> </th>
                        <th style="width:10%;"><a href="">Voucher Date<br>傳票日期</a></th>
                        <th style="width:10%;"><a href="">Settle Date<br>收付日期</a></th>
                        <th style="width:10%;">
                            <a href="">Period<br>帳單類型</a>
                        </th>
                        <th style="width:16%;">
                            <a href="">Period<br>帳單期間</a>
                        </th>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td>1234567</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1234567</td>
                        <td></td>
                        <td>
                            <a onclick="window.open('sortInfo.html', 'newwindow', config='height=800,width=600,toolbar=no');">
                            General
                            </a>
                        </td>
                        <td>
                            1Q 20210101~20211231
                        </td>
                    </tr>
                </tbody>
            </table>
            
            </div>
            <button class="btn btn-primary">新增</button>
            <button class="btn btn-primary">刪除</button>
            
    </div><!-- content end  -->
</section>

</body>


</html>