<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>公司資料維護</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">國外部系統</a> &gt; <a href="#">公司資料</a>
            </div>
            <div class="big_title title s1">公司資料</div>
            <div class="item_title title s2">公司資料查詢</div>
            <div class="col-12">
                <input style="width: 50%;" type="text" placeholder="請輸入再保人代碼/保發代碼/英文名稱" required="">
                <!-- 縮放選單 -->
                <p class="filterBar accordion" id="accordionFinias" onclick="showFunction('accordionFinias');">進階查詢</p>
                <div class="row-group form-row-group">
                    <div class="row">
                        <div class="input-title col-2 col-border">保經代碼</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="0" selected>全部</option>
                                <option value="1">再保人</option>
                                <option value="2">經紀人</option>
                            </select>
                        </div>
                        <div class="input-title col-2 col-border">狀態</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="0" selected>全部</option>
                                <option value="1">使用中</option>
                                <option value="2">暫停使用</option>
                                <option value="3">已停用</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">大陸地區</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="0" selected>全部</option>
                                <option value="1">Y</option>
                                <option value="2">N</option>
                            </select>
                        </div>
                        <div class="input-title col-2 col-border">適格性</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="0" selected>全部</option>
                                <option value="1">適格</option>
                                <option value="2">未適格</option>
                            </select>
                        </div>
                    </div>
                </div><!-- row-group end -->
                <button class="btn btn-primary">新增</button>
                <button class="btn btn-primary">查詢</button>
                <button class="btn btn-primary">匯出Rating List</button>
                <button class="btn btn-primary">匯出所有資料</button>
            </div>
            <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
                <div class="filterBar">
                    <div class="row-group">
                        <div class="row">
                            <div class="col-2">
                                <a href="#" id="" class="pages_icon to_left">⊻</a>
                                <a href="#" id="" class="pages_icon">＜</a>
                                <a href="#" id="" class="pages_icon">＞</a>
                                <a href="#" id="" class="pages_icon to_right">⊼</a>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>
                            </div>
                            <div class="col-2">
                                <span id="" class="">每頁</span>
                                <span id="" class="">50</span>
                                <span id="" class="">筆</span>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">1</span>
                                <span id="" class="">頁</span>
                            </div>
                            <div class="col-3">
                                <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" id="" class="" style="width:32px;">
                                <span id="" class="">頁</span>
                                <!-- <button class="btn btn-primary">暫存</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <table class="tblCssDataGrid css_table">
                    <tbody><tr class="cssDataGridHeader">
                        <th style="width:3%;">
                            <span class="checkbox_box">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1"></label>
                            </span>
                        </th>
                        <th style="width:8%;"><a href="">再保人代碼</a></th>
                        <th style="width:10%;"><a href="">保發中心代碼</a></th>
                        <th style="width:5%;"><a href="">適格性</a></th>
                        <th style="width:13%;"><a href="">保經代碼</a></th>
                        <th style="width:13%;"><a href="">狀態</a></th>
                        <th style="width:25%;"><a href="">英文全名</a></th>
                        <th style="width:18%;"><a href="">中文全名</a></th>
                        <th style="width:5%;"><a href="">大陸地區</a></th>
                    </tr>
                    <tr>
                        <td>
                            <span class="checkbox_box">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1"></label>
                            </span>
                        </td>
                        <td>0044400</td>
                        <td>001KRKR001</td>
                        <td></td>
                        <td>0-再保人</td>
                        <td>使用中</td>
                        <td>Korean Reinsurance Company Limited</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
                </table>
            </div>
			
    </div>
    <!-- content end  -->
</section>
<script>
    $('.accordion').click(function(){
        $('.accordion').stop(true, true).toggleClass('plus');
        if($('.accordion').hasClass('plus')==false) {
            $(this).next().stop(true, true).show();
        }else {
            $(this).next().stop(true, true).hide();
        }
    });
</script>
</body>


</html>