<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">估計數作業</a>
            </div>
            <div class="big_title title s1">估計數作業</div>
            <!-- <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF401.html'">
                    未決賠款併入未達帳
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF402.html'">
                    未達帳試算作業
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF403.html'">
                    未達帳傳送作業
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF404.html'">
                    估計數主檔查詢
                </button>
            </div> -->
            <div class="item_title title s2">未達帳試算作業</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">未達帳估算期間</div>
                    <div class="col-4 col-border">
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM" required>
                        ～
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM" required>
                    </div>
                    <div class="input-title col-2 col-border">主檔帳單</div>
                    <div class="col-4 col-border">
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required>
                        ～
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">合併未決賠款</div>
                    <div class="col-4 col-border">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">選擇</button>
                        <input style="max-width:65%;" type="text" placeholder="2021/04/28_Version 3" required>
                    </div>
                    <div class="input-title col-2 col-border">臨時檔帳單</div>
                    <div class="col-4 col-border">
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required>
                        ～
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">佣金科目</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">合併</option>
                            <option value="">展開</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary">試算並匯出</button>
                </div>
            </div>
            <h3 class="accordion"><a href="#">查詢欄位</a></h3>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">未達帳試算日期</div>
                    <div class="col-4 col-border">
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required="">
                        ～
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required="">
                    </div>
                </div>
                <button class="btn btn-primary">查詢</button>
            </div>
            <!-- 按下查詢欄位的查詢出現以下table -->
            <div class="col-12" style="border: 1px solid #ccc; padding: 3px;">
                <table class="tblCssDataGrid css_table" style="table-layout:fixed">
                    <tbody>
                        <tr class="cssDataGridHeader">
                            <th style="width: 50px;">
                                <span class="checkbox_box ml-2">
                                    <input id="check1" type="checkbox" name="check">
                                    <label for="check1"></label>
                                </span>
                            </th>
                            <th>未達帳估算時間</th>
                            <th>Date<br>試算日期</th>
                            <th>Version<br>版本</th>
                        </tr>
                        <tr class="cssDataGridHeader">
                            <td>
                                <span class="checkbox_box ml-2">
                                    <input id="check1" type="checkbox" name="check">
                                    <label for="check1"></label>
                                </span>
                            </td>
                            <td>
                                <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required="">
                                ～
                                <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required="">
                            </td>
                            <td>
                                <input type="text" placeholder="2021/04/28" required="">
                            </td>
                            <td>
                                <input type="text" placeholder="1" required="">
                            </td>
                            
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary">修改</button>
                <button class="btn btn-primary">匯出</button>
            </div>
            <div class="divSpace"></div>

            <div class="col-12" style="border: 1px solid #ccc; padding: 3px;">
                <table class="tblCssDataGrid css_table" style="table-layout:fixed">
                    <tbody>
                        <tr class="cssDataGridHeader">
                            <th style="width: 75px;">
                                <button class="btn btn-edit">新增</button>
                                <button class="btn btn-edit">刪除</button>
                            </th>
                            <th>國內/國外</th>
                            <th>Business Code<br>預算險別代號</th>
                            <th>Treaty Code<br>合約卷號</th>
                            <th>U/W Year<br>承保年度</th>
                            <th>Accounts<br>會計科目</th>
                            <th>Adjustment<br>調整數</th>
                        </tr>
                        <tr class="cssDataGridHeader">
                            <td>
                                <span class="checkbox_box ml-2">
                                    <input id="check1" type="checkbox" name="check">
                                    <label for="check1"></label>
                                </span>
                            </td>
                            <td>
                               <select name="" id="">
                                <option value="" selected></option>
                                   <option value="">國內</option>
                                   <option value="">國外</option>
                               </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="" selected></option>
                                    <option value="">火災保險</option>
                                    <option value="">貨運保險</option>
                                    <option value="">船舶保險</option>
                                    <option value="">航空保險</option>
                                    <option value="">工程保險</option>
                                    <option value="">核能保險</option>
                                    <option value="">其他保險</option>
                                    <option value="">汽車保險</option>
                                    <option value="">健康保險</option>
                                    <option value="">傷害保險</option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="" selected></option>
                                </select>
                            </td>
                            <td>
                                <input type="text" placeholder="YYYY" required="">
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="" selected></option>
                                    <option value="">保費</option>
                                    <option value="">佣金費用</option>
                                    <option value="">梯次佣金費用調整</option>
                                    <option value="">盈餘佣金費用</option>
                                    <option value="">手續費用</option>
                                    <option value="">轉再保手續費</option>
                                    <option value="">經紀人佣金</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" placeholder="金額" required="">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary">儲存</button>
                <button class="btn btn-primary">匯出</button>
            </div>

            
            
    </div>
    <!-- content end  -->
        <!-- 彈跳視窗1 -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      合併未決賠款選擇
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row-group">
                    <div class="row">
                        <div class="col-12">
                        <h3 class="text-center">請輸入未決賠款試算日期</h3>
                        <div class="col-12 col-border">
                            <input style="max-width:40%;" type="text" placeholder="YYYY/MM/DD" required="">
                            ～
                            <input style="max-width:40%;" type="text" placeholder="YYYY/MM/DD" required="">
                            <button type="button" class="btn btn-primary">查詢</button>
                        </div>
                        <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
                            <table class="tblCssDataGrid css_table" width="100%" style="table-layout:fixed">
                                <tbody>
                                    <tr class="cssDataGridHeader">
                                    <th><a href="">Date<br>試算日期</a></th>
                                    <th><a href="">Version<br>版本</a></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>2021/04/28</td>
                                    <td>1</td>
                                    <td>
                                        <button class="btn btn-primary">選擇</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2021/04/28</td>
                                    <td>1</td>
                                    <td>
                                        <button class="btn btn-primary">選擇</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2021/04/28</td>
                                    <td>1</td>
                                    <td>
                                        <button class="btn btn-primary">選擇</button>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
               
              </div>
            </div>
        </div> 
        <!-- 彈跳視窗2 -->
        <div class="modal fade" id="exampleModalTwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      匯入檔案
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row-group">
                    <div class="row">
                        <div class="col-12">
                        <h3 class="text-center">請選擇欲匯入之檔案</h3>
                        <div class="col-12 col-border">
                                <button class="btn btn-primary">選擇</button>
                                <input style="max-width:85%;" type="text" placeholder="2021/04/28_Version 3" required="">
                        </div>
                        <h3 class="text-center">請選擇欲覆蓋版本之日期</h3>
                        <div class="col-12 col-border">
                                <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required="">
                                ～
                                <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required="">
                                <button class="btn btn-primary">查詢</button>
                        </div>
                        <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
                            <table class="tblCssDataGrid css_table" width="100%" style="table-layout:fixed">
                                <tbody>
                                    <tr class="cssDataGridHeader">
                                    <th><a href="">Date<br>試算日期</a></th>
                                    <th><a href="">Version<br>版本</a></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>2021/04/28</td>
                                    <td>1</td>
                                    <td>
                                        <button class="btn btn-primary">覆蓋</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2021/04/28</td>
                                    <td>1</td>
                                    <td>
                                        <button class="btn btn-primary">覆蓋</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2021/04/28</td>
                                    <td>1</td>
                                    <td>
                                        <button class="btn btn-primary">覆蓋
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
               
              </div>
            </div>
        </div> 
</section>
<script>
    $('.accordion').click(function(){
        $('.accordion').stop(true, true).toggleClass('plus');
        if($('.accordion').hasClass('plus')==false) {
            $(this).next().stop(true, true).show();
        }else {
            $(this).next().stop(true, true).hide();
        }
    });
</script>
</body>


</html>