<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>兆豐</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <script src="../../shigen/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="../../shigen/css/jquery-ui.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">
    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
    <!-- tabulator_4.9 -->
    <link rel="stylesheet" href="../../shigen/css/tabulator.css">
    
</head>

<body>
    <div class="ajax-aside-nav"></div>
    <section>
        <div class="ajax-section-main"></div>
        <div class="container-fluid content">
            <div class="bread-crumbs">
                <a href="#">再保人交易明細表</a> &gt; 
            </div>
            <div class="big_title title s1">再保人交易明細表</div>

            <!-- <div class="item_title title s2">合約交易對象查詢與列印</div> -->
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">*Combined Guam Office Data<br>匯入駐關島代表處資料</div>
                    <div class="col-6 col-border">
                        <input style="max-width: 70%;" type="text" placeholder="必填" required>
                        <button class="btn btn-primary">瀏覽</button>
                        <button class="btn btn-primary">匯入</button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Voucher Date<br>傳票期間</div>
                    <div class="col-4 col-border">
                        <input style="max-width:39%;" type="text" placeholder="必填YYYY/MM/DD" required>
                        ～
                        <input style="max-width:39%;" type="text" placeholder="必填YYYY/MM/DD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Details<br>明細</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="Y">必填</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Report<br>報表格式</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="" selected>必填</option>
                            <option value="" >全部</option>
                            <option value="">再保人已拆分進業務</option>
                            <option value="">再保人已拆分出業務</option>
                            <option value="">再保人未拆分進業務</option>
                            <option value="">再保人未拆分出業務</option>
                            <option value="">經紀人已拆分進業務</option>
                            <option value="">經紀人已拆分出業務</option>
                            <option value="">經紀人未拆分進業務</option>
                            <option value="">經紀人未拆分出業務</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary">匯出</button>
                </div>
            </div>
        </div>
        <!-- content end  -->
    </section>

</body>


</html>
