<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    

    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分出合約作業</a> &gt; <a href="#">新增合約型態</a>
            </div>
            <div style="border: 1px solid #F18A47;padding: 10px; background-color: #fcfaf0;">
                
                <button style="font-size: 15px;" class="btn btn-primary">刪除</button>
                <button style="font-size: 15px;" class="btn btn-primary">儲存</button>
                <button style="font-size: 15px;" class="btn btn-primary">離開</button>
            <div class="tableGray_b">
                <div class="item_title title s2">
                    合約型態內容
                </div>
                <div class="tableGray">
                    <div class="row-group form-row-group">
                        <div class="row">
                            <div class="input-title col-2 col-border">Section</div>
                            <div class="col-4 col-border">
                                <input type="text" placeholder="1" required>
                            </div>
                            <div class="input-title col-2 col-border">Type Code<br>合約型態</div>
                            <div class="col-4 col-border">
                                <select name="" id="">
                                    <option value="" selected>Quota Share</option>
                                    <option value="">Surplus</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-title col-2 col-border">Treaty Limit (QS 100%)<br>合約限額</div>
                            <div class="col-4 col-border">
                                <select style="min-width:30%;" name="" id="">
                                    <option value="" selected="">幣別</option>
                                    <option value="">全部</option>
                                    <option value="">TWD&nbsp;&nbsp;台幣</option>
                                    <option value="">USD&nbsp;&nbsp;美金</option>
                                    <option value="">HKD&nbsp;&nbsp;港幣</option>
                                    <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                    <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                    <option value="">JPY&nbsp;&nbsp;日圓</option>
                                    <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                    <option value="">EUR&nbsp;&nbsp;歐元</option>
                                    <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                    <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                    <option value="">CAD&nbsp;&nbsp;加幣</option>
                                    <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                    <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                    <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                    <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                    <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                    <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                    <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                    <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                    <option value="">THB&nbsp;&nbsp;泰幣</option>
                                    <option value="">VND&nbsp;&nbsp;越南幣</option>
                                    <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                </select>
                                <input style="max-width:50%;" type="text" placeholder="金額" required="">
                            </div>
                            <div class="input-title col-2 col-border">Treaty Limit (QS 100%) Remark<br>合約限額備註</div>
                            <div class="col-4 col-border">
                                <input type="text" placeholder="" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-title col-2 col-border">Reinsurance Cession (%)<br>再保比例</div>
                            <div class="col-4 col-border">
                                <input type="text" placeholder="0.00%" required>
                            </div>
                            <div class="input-title col-2 col-border">Reinsurance Cession<br>再保限額</div>
                            <div class="col-4 col-border">
                                <select style="min-width:30%;" name="" id="">
                                    <option value="" selected="">幣別</option>
                                    <option value="">全部</option>
                                    <option value="">TWD&nbsp;&nbsp;台幣</option>
                                    <option value="">USD&nbsp;&nbsp;美金</option>
                                    <option value="">HKD&nbsp;&nbsp;港幣</option>
                                    <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                    <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                    <option value="">JPY&nbsp;&nbsp;日圓</option>
                                    <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                    <option value="">EUR&nbsp;&nbsp;歐元</option>
                                    <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                    <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                    <option value="">CAD&nbsp;&nbsp;加幣</option>
                                    <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                    <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                    <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                    <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                    <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                    <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                    <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                    <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                    <option value="">THB&nbsp;&nbsp;泰幣</option>
                                    <option value="">VND&nbsp;&nbsp;越南幣</option>
                                    <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                </select>
                                <input style="max-width:50%;" type="text" placeholder="金額" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-title col-2 col-border">Retention (%)<br>自留比例</div>
                            <div class="col-4 col-border">
                                <input type="text" placeholder="0.00%" required>
                            </div>
                            <div class="input-title col-2 col-border">Retention<br>自留額</div>
                            <div class="col-4 col-border">
                                <select style="min-width:30%;" name="" id="">
                                    <option value="" selected="">幣別</option>
                                    <option value="">全部</option>
                                    <option value="">TWD&nbsp;&nbsp;台幣</option>
                                    <option value="">USD&nbsp;&nbsp;美金</option>
                                    <option value="">HKD&nbsp;&nbsp;港幣</option>
                                    <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                    <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                    <option value="">JPY&nbsp;&nbsp;日圓</option>
                                    <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                    <option value="">EUR&nbsp;&nbsp;歐元</option>
                                    <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                    <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                    <option value="">CAD&nbsp;&nbsp;加幣</option>
                                    <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                    <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                    <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                    <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                    <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                    <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                    <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                    <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                    <option value="">THB&nbsp;&nbsp;泰幣</option>
                                    <option value="">VND&nbsp;&nbsp;越南幣</option>
                                    <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                </select>
                                <input style="max-width:50%;" type="text" placeholder="金額" required="">
                            </div>
                            
                        </div>
                    </div>
                    </div>
        
        
            </div>
           
            </div>
    </div>
    <!-- content end  -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  請輸入需新增之層數
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row-group">
                <div class="row">
                    <div class="input-title col-4 col-border justify-content-end">Section</div>
                    <div class="col-8 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-4 col-border justify-content-end">Type</div>
                    <div class="col-8 col-border">
                        <select name="" id="">
                            <option value="">Quota Share</option>
                            <option value="">Surplus</option>
                        </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">確認</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>


</body>


</html>