<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">估計數作業</a>
            </div>
            <div class="big_title title s1">估計數作業</div>
            <!-- <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF401.html'">
                    未決賠款併入未達帳
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF402.html'">
                    未達帳試算作業
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF403.html'">
                    未達帳傳送作業
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF404.html'">
                    估計數主檔查詢
                </button>
            </div> -->
            <div class="item_title title s2">估計數主檔查詢</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Date<br>資料</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">全部</option>
                            <option value="">估計數 (未達帳、未決賠款)</option>
                            <option value="">實際數</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Voucher Date<br>傳票日期</div>
                    <div class="col-4 col-border">
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required>
                        ～
                        <input style="max-width:39%;" type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Report<br>報表格式</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">全部</option>
                            <option value="">累計數</option>
                            <option value="">差異數</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary">匯出</button>
                    <button class="btn btn-primary">列印</button>
                </div>
            </div>
            
            
    </div><!-- content end  -->
</section>

</body>


</html>