<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>分進/帳單作業</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
        <div class="ajax-section-main"></div>
        <div class="container-fluid content">

            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">未決賠款資料查詢</a>
            </div>
            <div class="big_title title s1">帳單作業</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF310.html'">
                    未決賠款登錄與維護
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF312.html'">
                    重大賠款登錄與維護
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF314.html'">
                    未決賠款資料查詢
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF315.html'">
                    未決賠款異動明細表
                </button>
            </div>
            <div class="item_title title s2">未決賠款異動明細表</div>
            
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Representative Treaty Code<br>代表號</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="Y">Y</option>
                            <option value="N" selected >N</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Entry Date<br>輸入日期</div>
                    <div class="col-4 col-border">
                        <input style="max-width:38%;" type="text" placeholder="YYYY/MM" required="">
                        ～
                        <input style="max-width:38%;" type="text" placeholder="YYYY/MM" required="">
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary">查詢</button>
                    <button class="btn btn-primary">匯出</button>
                </div>
            </div>
        </div><!-- content end  -->
    </section>

</body>


</html>