<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>分進/再保賠款帳單明細</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">
    
    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
</head>

<body>
        <div class="container-fluid content">
            <div class="bread-crumbs">
                <a href="#">分出作業</a> &gt; <a href="#">合約名稱作業</a>
            </div>
            <div class="big_title title s1">分出作業</div>
            <div class="item_title title s2">合約名稱作業</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Name<br>合約名稱</div>
                    <div class="col-10 col-border">
                        <input type="text" placeholder="必填" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Name<br>合約簡稱</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="必填" required>
                    </div>
                    <div class="input-title col-2 col-border">Status<br>狀態</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1" selected>有效</option>
                            <option value="2">無效</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Department<br>部門名稱</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="必填" required>
                        <a href="" data-toggle="modal" data-target="#exampleModalthree">
                            <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i></a>
                    </div>
                    <div class="input-title col-2 col-border">Business Code<br>預算險別代號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="必填" required>
                        <a href="" data-toggle="modal" data-target="#exampleModaltwo">
                            <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Type Code<br>合約型態</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="" selected>必填</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                    
                    <div class="input-title col-2 col-border">CRC Treaty<br>中央再保合約</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1" selected>Y</option>
                            <option value="2">N</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 col-border">
                        <button class="btn btn-primary">儲存</button>
                        <button class="btn btn-primary">查詢</button>
                        <button class="btn btn-primary">修改</button>
                        <button class="btn btn-primary">刪除</button>
                        <button class="btn btn-primary">匯出</button>
                    </div>
                </div>
            </div>
            <div class="filterBar">
                <div class="row-group">
                    <div class="row">
                        <!-- <div class="col-1"><button class="btn btn-primary">新增項目</button></div> -->
                        <div class="col-2">
                            <a href="#" id="" class="pages_icon to_left">⊻</a>
                            <a href="#" id="" class="pages_icon">＜</a>
                            <a href="#" id="" class="pages_icon">＞</a>
                            <a href="#" id="" class="pages_icon to_right">⊼</a>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">0</span>
                            <span id="" class="">筆</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">每頁</span>
                            <select name="" id="" style="min-width: 40px;">
                                <option value="">10</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">200</option>
                            </select>
                            <span id="" class="">筆</span>
                            <button class="btn btn-primary">確認</button>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">1</span>
                            <span id="" class="">頁</span>
                        </div>
                        <div class="col-3">
                            <span id="" class="">目前第</span>
                            <input name="" type="text" value="1" id="" class="" style="width:32px;">
                            <span id="" class="">頁</span>
                            <button class="btn btn-primary">確認</button>
                            <!-- <button class="btn btn-primary">暫存</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <table class="tblCssDataGrid css_table">
                <tbody>
                    <tr class="cssDataGridHeader">
                    <th><a href="">Department<br>部門名稱</a></th>
                    <th><a href="">Treaty Name<br>合約名稱</a></th>
                    <th><a href="">Treaty Name<br>合約簡稱</a></th>
                    <th><a href="">Type Code<br>合約型態</a></th>
                    <th><a href="">Business Code<br>預算險別代號<a href="" data-toggle="modal" data-target="#exampleModaltwo">
                        <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i></a></a></th>
                    <th><a href="">CRC Treaty<br>中央再保合約</a></th>
                </tr>
                <tr>
                    <td>火災保險部</td>
                    <td>Fire ist Surp Treaty</td>
                    <td>FIRE FIRST SURPLUS REINSURANCE TREATY</td>
                    <td>Surplus</td>
                    <td>火險</td>
                    <td>Ｎ</td>
                </tr>
            </tbody>
            </table>
        </div><!-- content end  -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModaltwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      請選取要加入的預算險別
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row-group">
                    <div class="row">
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">火險-火災保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">水險-貨運保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_1" type="checkbox" name="radio01" value="1" checked="">
                                <label for="radio01_1">水險-船舶保險</label>
                            </span>
                        </div>
                        
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">水險-航空保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">意外險-工程保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">意外險-核能保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">意外險-其他保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">車險-汽車保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">健傷險-健康保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">健傷險-傷害保險</label>
                            </span>
                        </div>
                        
                        
                        
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary">加入</button>
                </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalthree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                      請選取要加入部門別
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row-group">
                    <div class="row">
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_1" type="checkbox" name="radio01" value="1" checked="">
                                <label for="radio01_1">火災保險</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">海上保險部</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">意外保險部</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">個人保險部</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">駐關島代表處</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">國外部</label>
                            </span>
                        </div>
                        <div class="col-3 col-border">
                            <span class="checkbox_box">
                                <input id="radio01_2" type="checkbox" name="radio01" value="2">
                                <label for="radio01_2">全部</label>
                            </span>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary">加入</button>
                </div>
              </div>
            </div>
            </div>

</body>


</html>
