<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>兆豐</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <script src="../../shigen/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="../../shigen/css/jquery-ui.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">
    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
    <!-- tabulator_4.9 -->
    <link rel="stylesheet" href="../../shigen/css/tabulator.css">
    
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
        <div class="ajax-section-main"></div>
        <div class="container-fluid content">

            <div class="bread-crumbs">
                <a href="#">分出作業</a> &gt; <a href="#">分出作業</a>
            </div>
            <div class="big_title title s1">帳單輸入作業查詢與列印</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF005.html'">
                    帳單查詢
                </button>
                <button class="btn btn-edit" onclick="location.href='RF007_A(3).html'">
                    帳單登錄與維護
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF007.html'">
                    帳單傳送
                </button>
            </div>
            <div class="item_title title s2">帳單查詢</div>
            
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">User<br>創建人代碼</div>
                    <div class="col-4 col-border">
                        <select style="min-width: 40%;" name="" id="">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                        <select style="min-width: 40%; margin-left: 1%;" name="" id="">
                            <option value="A" selected>全部</option>
                            <option value="B" >已傳送</option>
                            <option value="C">未傳送</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Our Statement No<br>帳單編號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="單筆使用" required>
                    </div>
                </div>
                <!-- 縮放選單 -->
                <p class="filterBar accordion" id="accordionFinias" onclick="showFunction('accordionFinias');">進階查詢</p>
                <div class="row-group form-row-group">
                    <div class="row">
                        <div class="input-title col-2 col-border">Our Statement No<br>帳單編號</div>
                        <div class="col-4 col-border">
                            <input type="text" style="max-width:30%;" placeholder="多筆使用" required>
                            ～
                            <input type="text" style="max-width:30%;" placeholder="多筆使用" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">Period<br>帳單期間類型</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="A">All</option>
                                <option value="B">General</option>
                                <option value="C">Profit Commission</option>
                                <option value="C">Cash Call/Date of Loss</option>
                                <option value="C">Portfolio Transfer</option>
                                <option value="">Commission Adjustment</option>
                                <option value="">Loss Participation</option>
                                <option value="">Commutation/Cut-Off</option>
                                <option value="">Letter of Credit (LOC)</option>
                                <option value="">Outstanding Claim Advance (OCA) </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">Entry Date<br>輸入日期</div>
                        <div class="col-4 col-border">
                            <input type="text" style="max-width:30%;" placeholder="YYYY/MM/DD" required>
                            ～
                            <input type="text" style="max-width:30%;" placeholder="YYYY/MM/DD" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-edit" data-toggle="modal" data-target="#exampleModalone">整批修改</button>
                    <button class="btn btn-primary">查詢</button>
                    <button class="btn btn-primary">列印</button>
                    <button class="btn btn-primary">註銷</button>
                </div>
            </div>

        <!-- content end  -->
        <div class="filterBar">
            <div class="row-group">
                <div class="row">
                    <div class="col-2">
                        <a href="#" id="" class="pages_icon to_left">⊻</a>
                        <a href="#" id="" class="pages_icon">＜</a>
                        <a href="#" id="" class="pages_icon">＞</a>
                        <a href="#" id="" class="pages_icon to_right">⊼</a>
                    </div>
                    <div class="col-2">
                        <span id="" class="">總共</span>
                        <span id="" class="">0</span>
                        <span id="" class="">筆</span>
                    </div>
                    <div class="col-2">
                        <span id="" class="">每頁</span>
                        <select name="" id="" style="min-width: 40px;">
                            <option value="">10</option>
                            <option value="">50</option>
                            <option value="">100</option>
                            <option value="">200</option>
                        </select>
                        <span id="" class="">筆</span>
                        <button class="btn btn-primary">確認</button>
                    </div>
                    <div class="col-2">
                        <span id="" class="">總共</span>
                        <span id="" class="">1</span>
                        <span id="" class="">頁</span>
                    </div>
                    <div class="col-3">
                        <span id="" class="">目前第</span>
                        <input name="" type="text" value="1" id="" class="" style="width:32px;">
                        <span id="" class="">頁</span>
                        <button class="btn btn-primary">確認</button>
                        <!-- <button class="btn btn-primary">暫存</button> -->
                    </div>
                </div>
            </div>
            
        </div>
        <table class="tblCssDataGrid css_table">
            <tbody><tr class="cssDataGridHeader">
                <th style="width:4%;">
                    <a href="">
                    <span class="checkbox_box">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1"></label>
                    </span>
                </a></th>
                <th><a href="">Our Statement No<br>帳單編號</a></th>
                <th><a href="">Treaty Code<br>合約卷號</a></th>
                <th><a href="">Currency<br>幣別</a></th>
                <th><a href="">U/W Year<br>承保年度</a></th>
                <th><a href="">Period<br>帳單期間類型</a></th>
                <th><a href="">Period<br>帳單期間</a></th>
                <th><a href="">Entry Date<br>輸入日期</a></th>
                <th><a href="">State<br>狀態</a></th>
            </tr>
            <tr>
                <td>
                    <span class="checkbox_box">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1"></label>
                    </span>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>已傳送</td>
            </tr>
        </tbody>
        </table>
    <!-- <button class="btn btn-primary">修改</button>
    <button class="btn btn-primary">刪除</button>
    <button class="btn btn-primary">取消</button>
    <button class="btn btn-primary">儲存</button> -->
</div>
    <!-- Modal各項佣金 -->
    <div class="modal modalAn fade" id="exampleModalone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <div class="big_title title s1">整批修改</div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid content">
                    <div class="bread-crumbs">
                        <a href="#">非比例合約</a> &gt; <a href="#">新增合約型態</a>
                    </div>
                    <div style="border: 1px solid #F18A47;padding: 10px; background-color: #fcfaf0;">
                        <button style="font-size: 15px;" class="btn btn-primary">確認</button>
                        <button style="font-size: 15px;" class="btn btn-primary">取消</button>
                    <div class="tableGray_b">
                        <div class="item_title title s2">
                            整批修改
                        </div>
                        <!-- table scroll-x -->
                        <!-- 新增群組區塊 -->
                    <div class="tableGray">
                        <div class="row-group form-row-group" >
                            <div class="row">
                                <div class="input-title col-2 col-border">General<br>一般</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="必填" required>
                                </div>
                                <div class="input-title col-2 col-border">Loss Participation<br>損失分攤</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="必填" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-title col-2 col-border">Profit Commission<br>盈餘佣金</div>
                                <div class="col-4 col-border">
                                    <select style="min-width:15%;" name="" id="">
                                        <option value="">幣別</option>
                                        <option value="">US</option>
                                        <option value="">TWD</option>
                                    </select>
                                    <input style="max-width:65%;" type="text" placeholder="" required>
                                </div>
                                <div class="input-title col-2 col-border">Commutation/Cut-Off<br>折償/結清</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="0.00%" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-title col-2 col-border">Cash Call/Date of Loss<br>現金攤賠/出險日</div>
                                <div class="col-4 col-border">
                                    <select style="min-width:15%;" name="" id="">
                                        <option value="">幣別</option>
                                        <option value="">US</option>
                                        <option value="">TWD</option>
                                    </select>
                                    <input type="text" style="max-width:65%;" placeholder="" required>
                                </div>
                                <div class="input-title col-2 col-border">Letter of Credit (LOC)<br>信用狀</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-title col-2 col-border">Portfolio Transfer<br>責任移轉</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="0" required>
                                </div>
                                <div class="input-title col-2 col-border">Outstanding Claim Advance (OCA)<br>未決賠款預付款</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="0.000000%" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-title col-2 col-border">Commission Adjustment<br>梯次佣金調整</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="100.00%" required>
                                </div>
                                <div class="input-title col-2 col-border">Account Type<br>帳單類型</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="必填" required>
                                </div>
                                <div class="input-title col-2 col-border">Currency<br>幣別</div>
                                <div class="col-4 col-border">
                                    <input type="text" placeholder="必填" required>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <table class="tblCssDataGrid css_table">
                        <tbody><tr class="cssDataGridHeader">
                            <th style="width:4%;">
                                <a href="">
                                <span class="checkbox_box">
                                    <input id="check1" type="checkbox" name="check" value="1" checked="">
                                    <label for="check1"></label>
                                </span>
                            </a></th>
                            <th><a href="">Treaty Code<br>合約卷號</a></th>
                            <th><a href="">Currency<br>幣別</a></th>
                            <th><a href="">Account Type<br>帳單類型</a></th>
                            <th><a href="">General<br>一般</a></th>
                            <th><a href="">Profit Commission<br>盈餘佣金</a></th>
                            <th><a href="">Cash Call/Date of Loss<br>現金攤賠/出險日</a></th>
                            <th><a href="">Portfolio Transfer<br>責任移轉</a></th>
                            <th><a href="">Commission Adjustment<br>梯次佣金調整</a></th>
                            <th><a href="">Loss Participation<br>損失分攤</a></th>
                            <th><a href="">Commutation/Cut-Off<br>折償/結清</a></th>
                            <th><a href="">Letter of Credit (LOC)<br>信用狀</a></th>
                            <th><a href="">Outstanding Claim Advance (OCA) <br>未決賠款預付款</a></th>
                        </tr>
                        <tr>
                            <td>
                                <span class="checkbox_box">
                                    <input id="check1" type="checkbox" name="check" value="1" checked="">
                                    <label for="check1"></label>
                                </span>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">確認</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
        </div>
    </div>
    </section>
    <script>
        $('.accordion').click(function(){
            $('.accordion').stop(true, true).toggleClass('plus');
            if($('.accordion').hasClass('plus')==false) {
                $(this).next().stop(true, true).show();
            }else {
                $(this).next().stop(true, true).hide();
            }
        });
    </script>
</body>


</html>