<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>分出/合約交易對象查詢與列印</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
    <section>
        <div class="ajax-section-main"></div>
        <div class="container-fluid content">

            <div class="bread-crumbs">
                <a href="#">分出作業</a> &gt; <a href="#">分出作業</a>
            </div>
            <div class="big_title title s1">分出作業</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF301.html'">
                    比例合約
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF302.html'">
                    非比例合約
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF535.html'">
                    合約交易對象查詢與列印
                </button>
            </div>
            <div class="item_title title s2">合約交易對象查詢與列印</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Report<br>報表格式</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">合約再保成份（Allocation含信評）</option>
                            <option value="">合約再保成份總表（含EPI）</option>
                            <option value="">合約狀態（Open/Close）報表</option>
                            <option value="">再保人各合約成份總表</option>
                            <option value="">合約條件變動表</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Department<br>部門名稱</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                        <option value="" >火災保險部</option>
                        <option value="" >海上保險部</option>
                        <option value="" >意外保險部</option>
                        <option value="" >個人保險部</option>
                        <option value="" >駐關島代表處</option>
                        <option value="" >國外部</option>
                        <option value="" >全部</option>
                    </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                    <div class="col-4 col-border">
                        <input style="max-width:39%;" type="text" placeholder="YYYY" required="">
                        ～
                        <input style="max-width:39%;" type="text" placeholder="YYYY" required="">
                    </div>
                    <div class="input-title col-2 col-border">Treaty Name<br>合約名稱</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">全部</option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Company/Broker Code<br>再保人代碼</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">EPI/MDP加總</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="Y" selected>Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary">匯出</button>
                        <button class="btn btn-primary">列印</button>
                    </div>
                </div>
            </div>
        </div>
        

        
        <!-- content end  -->
    </section>

</body>


</html>
