<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>分進/再保賠款帳單明細</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
        <div class="ajax-section-main"></div>
        <div class="container-fluid content">

            <div class="bread-crumbs">
                <a href="#">分出作業</a> &gt; <a href="#">(2)合約成分作業</a>
            </div>
            <div class="big_title title s1">風險名單及利害關係人</div>

            <div class="item_title title s2">查詢</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                    <div class="col-5 col-border">
                        <input type="text" placeholder="YYYY" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Inward/Outward<br>合約分類</div>
                    <div class="col-4 col-border">
                           <select name="" id="">
                               <option value=""></option>
                               <option value="">分進合約</option>
                               <option value="">分出合約</option>
                           </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-5 col-border">
                        <input type="text" placeholder="點選分進合約時出現" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Name<br>合約名稱</div>
                    <div class="col-5 col-border">
                        <input type="text" placeholder="點選分出合約時出現" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Report<br>報表列印</div>
                    <div class="col-5 col-border">
                        <select name="" id="">
                            <option value="">風險名單</option>
                            <option value="">利害關係人</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary">查詢</button>
            </div>
            <div class="filterBar">
                <div class="row-group">
                    <div class="row">
                        <div class="col-2">
                            <a href="#" id="" class="pages_icon to_left">⊻</a>
                            <a href="#" id="" class="pages_icon">＜</a>
                            <a href="#" id="" class="pages_icon">＞</a>
                            <a href="#" id="" class="pages_icon to_right">⊼</a>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">0</span>
                            <span id="" class="">筆</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">每頁</span>
                            <select name="" id="" style="min-width: 40px;">
                                <option value="">10</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">200</option>
                            </select>
                            <span id="" class="">筆</span>
                            <button class="btn btn-primary">確認</button>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">1</span>
                            <span id="" class="">頁</span>
                        </div>
                        <div class="col-3">
                            <span id="" class="">目前第</span>
                            <input name="" type="text" value="1" id="" class="" style="width:32px;">
                            <span id="" class="">頁</span>
                            <button class="btn btn-primary">確認</button>
                            <!-- <button class="btn btn-primary">暫存</button> -->
                        </div>
                    </div>
                </div>
                
            </div>
            <table class="tblCssDataGrid css_table">
                <tbody><tr class="cssDataGridHeader">
                    <th style="width: 50px;"><a href="">
                        <span class="checkbox_box">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1"></label>
                        </span>
                    </a></th>
                    <th><a href="">Company/Broker Code<br>再保人代碼</a></th>
                    <th><a href="">Company/Broker Name<br>公司名稱</a></th>
                    <th><a href="">Tax ID Number<br>統一編號</a></th>
                    <th><a href="">Chairman<br>負責人</a></th>
                </tr>
                <tr>
                    <td>
                        <span class="checkbox_box">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1"></label>
                        </span>
                    </td>
                    <td>UA-12345</td>
                    <td>TAIPING REINSURANCE CO., LTD.</td>
                    <td>F234567890</td>
                    <td>王先生</td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary">列印</button>
        <button class="btn btn-primary">匯出</button>
        </div><!-- content end  -->
    </section>

</body>


</html>