<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>分進/帳單作業</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
        <div class="ajax-section-main"></div>
        <div class="container-fluid content">

            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">未決賠款資料查詢</a>
            </div>
            <div class="big_title title s1">分進未決賠款作業</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF310.html'">
                    未決賠款登錄
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF312.html'">
                    重大賠款登錄
                </button>
            </div>
            <div class="item_title title s2">未決賠款資料查詢</div>
            
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Company / Broker Code<br>再保人代碼</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Representative Treaty Code<br>代表號</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="Y">Y</option>
                            <option value="N" selected >N</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">OS Loss Amount<br>未決賠款</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="Y">是</option>
                            <option value="N" selected >否</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Entry Date<br>輸入日期</div>
                    <div class="col-4 col-border">
                        <input style="max-width: 30%;" type="text" placeholder="YYYY/MM/DD" required>
                        ～
                        <input style="max-width: 30%;" type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                    <div class="input-title col-2 col-border">Loss Type<br>賠款類型</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="all" selected>全部</option>
                            <option value="">一般未決</option>
                            <option value="">重大未決</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button class="btn btn-primary">查詢</button>
                    <button class="btn btn-primary">匯出</button>
                    <button class="btn btn-primary">匯入</button>
                    <button class="btn btn-primary">歷程</button>
                </div>
                <table class="tblCssDataGrid css_table">
                    <tbody>
                        <tr class="cssDataGridHeader">
                        <th>
                            <span class="checkbox_box">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1"></label>
                            </span>
                        </th>
                        <th>Treaty Code<br>合約卷號</th>
                        <th>U/W Year<br>承保年度</th>
                        <th>Currency<br>幣別</th>
                        <th><a href="">Original Amount (100%)<br>原幣金額 (100%)</a></th>
                        <th>As At<br>資料基準日</th>
                        <th>Entry Date<br>輸入日期</th>
                        <th>Loss Type<br>賠款類型</th>
                    </tr>
                    <tr>
                        <td>
                            <span class="checkbox_box">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1"></label>
                            </span>
                        </td>
                        <td></td>
                        <td>2008</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div><!-- content end  -->
    </section>

</body>


</html>