<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" lang="zh-Hant-TW">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
        <title>兆豐</title>
        <!-- jQuery -->
        <script src="../../shigen/plugin/jquery.min.js"></script>
        <script src="../../shigen/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="../../shigen/css/jquery-ui.css">
        <!-- bootstrap -->
        <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
        <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
        <!-- fontawsome -->
        <script defer src="../../shigen/fonts/js/all.min.js"></script>
        <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
        <!--load all styles -->
        <!-- 共用樣式 -->
        <link rel="stylesheet" href="../../shigen/css/base.css">
        <!-- menu 樣式 -->
        <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
        <link rel="stylesheet" href="../../shigen/css/menu.css">
        <!-- 主要樣式 -->
        <link rel="stylesheet" href="../../shigen/css/type.css">
        <!-- 自訂JS樣式 -->
        <script src="../../shigen/js/global.js"></script>
        <!-- tabulator_4.9 -->
        <link rel="stylesheet" href="../../shigen/css/tabulator.css">
        
    </head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">帳單作業</a>
            </div>
            <div class="big_title title s1">分進統計作業</div>
            <div class="item_title title s2">地區累積風險</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                    <div class="col-4 col-border">
                        <input type="text" style="max-width: 39%;" placeholder="YYYY" required></input>
                        ~
                        <input type="text" style="max-width: 39%;" placeholder="YYYY" required></input>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Company/Broker Code<br>再保人代碼</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required></input>
                    </div>
                    <div class="input-title col-2 col-border">Territory Code<br>區域代碼</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="模糊查詢" required></input>
                    </div>
                </div>
                <div class="col-12 d-flex ">
                    <button class="btn btn-edit" data-toggle="modal" data-target="#exampleModalone">新增</button>
                    <button class="btn btn-primary">查詢</button>
                </div>
            </div>
            <!-- 資料帶出欄位 -->
            <div class="filterBar">
                <div class="row-group">
                    <div class="row">
                        <!-- 新增TD行數 -->
                        <div class="col-2">
                            <a href="#" id="" class="pages_icon to_left">⊻</a>
                            <a href="#" id="" class="pages_icon">＜</a>
                            <a href="#" id="" class="pages_icon">＞</a>
                            <a href="#" id="" class="pages_icon to_right">⊼</a>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">0</span>
                            <span id="" class="">筆</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">每頁</span>
                            <select name="" id="" style="min-width: 40px;">
                                <option value="">10</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">200</option>
                            </select>
                            <span id="" class="">筆</span>
                            <button class="btn btn-primary">確認</button>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">1</span>
                            <span id="" class="">頁</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">目前第</span>
                            <input name="" type="text" value="1" id="" class="" style="width:32px;">
                            <span id="" class="">頁</span>
                            <button class="btn btn-primary">確認</button>
                            <!-- <button class="btn btn-primary">暫存</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_scroll">
            <table class="tblCssDataGrid css_table cutleft">
                <tbody>
                    <tr class="cssDataGridHeader">
                    <th>
                        <a href="">
                        <span class="checkbox_box ml-2">
                            <input id="check1" type="checkbox" name="check">
                            <label for="check1"></label>
                        </span>
                        </a>
                    </th>
                    <th><a href="">Treaty Code<br>合約卷號</a></th>
                    <th><a href="">Company Code<br>分保公司代碼</a></th>
                    <th><a href="">Broker Code<br>經紀人代碼</a></th>
                    <!-- 查詢時才顯示 -->
                    <th><a href="">U/W Year<br>承保年度</a></th>
                    <th style="min-width: 100px;"><a href="">Layer<br>層數</a></th>
                    <th style="min-width: 100px;"><a href="">Section</a></th>
                    <th><a href="">Our Share (%)<br>分入成分</a></th>
                    <th style="min-width: 200px;"><a href="">Earthquake (100%)<br>地震 (原幣100%)</a></th>
                    <th><a href="">Earthquake (Our Share)<br>地震 (原幣)</a></th>
                    <th><a href="">Earthquake (Our Share)<br>地震 (台幣)</a></th>
                    <th><a href="">Windstorm/Flood (100%)<br>颱風/洪水 (原幣100%)</a></th>
                    <th><a href="">Windstorm/Flood (Our Share)<br>颱風/洪水 (原幣)</a></th>
                    <th><a href="">Windstorm/Flood (Our Share)<br>颱風/洪水 (台幣)</a></th>
                    <th><a href="">Territory Code<br>區域代碼</a></th>
                    <th><a href="">Remark<br>備註</a></th>
                    <th><a href="">Exchange Rate<br>兌換率</a></th>
                    <th><a href="">Last Updated Date<br>最後修改日</a></th>
                    <!-- 查詢時才顯示 -->
                </tr>
                <tr>
                    <td>
                        <span class="checkbox_box ml-2">
                            <input id="check1" type="checkbox" name="check">
                            <label for="check1"></label>
                        </span>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td> 
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>
            </div>
            <div class="row">
                <div class="col-10 col-border">
                <button class="btn btn-primary">整批複製</button>
                <button class="btn btn-primary">儲存</button>
                <button class="btn btn-primary">刪除</button>
                <button class="btn btn-primary">匯出</button>
                </div>
            </div>
    </div><!-- content end  -->
        <!-- Modal各項佣金 -->
        <div class="modal modalAn fade" id="exampleModalone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <div class="big_title title s1">新增地區風險</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid content">
                            <div style="border: 1px solid #F18A47;padding: 10px; background-color: #fcfaf0;">
                                <div class="container-fluid">
                                    <div class="row-group">
                                        <div class="col-12"  style="border: 1px solid #ccc; padding: 3px; background-color: #ffffff;">
                                            <div class="x_scroll">
                                                <table class="tblCssDataGrid css_table cutleft">
                                                    <tbody>
                                                        <tr class="cssDataGridHeader">
                                                        <th>
                                                            <span class="checkbox_box ml-2">
                                                                <input id="check1" type="checkbox" name="check">
                                                                <label for="check1"></label>
                                                            </span>
                                                        </th>
                                                        <th><a href="">Treaty Code<br>合約卷號</a></th>
                                                        <!-- 查詢時才顯示 -->
                                                        <th><a href="">U/W Year<br>承保年度</a></th>
                                                        <th style="min-width: 100px;"><a href="">Layer<br>層數</a></th>
                                                        <th style="min-width: 100px;"><a href="">Section</a></th>
                                                        <th><a href="">Our Share (%)<br>分入成分</a></th>
                                                        <th style="min-width: 200px;"><a href="">Earthquake (100%)<br>地震 (100%)</a></th>
                                                        <th><a href="">Earthquake (Our Share)<br>地震 (原幣)</a></th>
                                                        <th><a href="">Earthquake (Our Share)<br>地震 (台幣)</a></th>
                                                        <th><a href="">Windstorm/Flood (100%)<br>颱風/洪水 (100%)</a></th>
                                                        <th><a href="">Windstorm/Flood (Our Share)<br>颱風/洪水 (原幣)</a></th>
                                                        <th><a href="">Windstorm/Flood (Our Share)<br>颱風/洪水 (台幣)</a></th>
                                                        <th><a href="">Territory Code<br>區域代碼</a></th>
                                                        <th><a href="">Remark<br>備註</a></th>
                                                        <th><a href="">Last Updated Date<br>最後修改日</a></th>
                                                        <!-- 查詢時才顯示 -->
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <span class="checkbox_box ml-2">
                                                                <input id="check1" type="checkbox" name="check">
                                                                <label for="check1"></label>
                                                            </span>
                                                        </td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text" placeholder="必填"></td>
                                                        <td>
                                                            <select name="" id="">
                                                                <option value="1">First</option>
                                                                <option value="2">Second</option>
                                                                <option value="3">Third</option>
                                                                <option value="4">Fourth</option>
                                                                <option value="5">Fifth</option>
                                                                <option value="6">Sixth</option>
                                                                <option value="7">Seventh</option>
                                                                <option value="8">Eighth</option>
                                                                <option value="9">Ninth</option>
                                                                <option value="10">Tenth</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="" id="">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                            </select>
                                                        </td>
                                                        <td><input type="text" placeholder="必填"></td>
                                                        <td>
                                                            <select name="" id="">
                                                                <option value="USD">USD</option>
                                                                <option value="TWD">TWD</option>
                                                                <option value="CNY">CNY</option>
                                                            </select><br>
                                                            <input type="text" placeholder="必填">
                                                        </td>
                                                        <td>
                                                            <select name="" id="">
                                                                <option value="USD">USD</option>
                                                                <option value="TWD">TWD</option>
                                                                <option value="CNY">CNY</option>
                                                            </select><br>
                                                            <input type="text">
                                                        </td>
                                                        <td>
                                                            <select name="" id="">
                                                                <option value="USD">USD</option>
                                                                <option value="TWD">TWD</option>
                                                                <option value="CNY">CNY</option>
                                                            </select><br>
                                                            <input type="text">
                                                        </td>
                                                        <td>
                                                            <select name="" id="">
                                                                <option value="USD">USD</option>
                                                                <option value="TWD">TWD</option>
                                                                <option value="CNY">CNY</option>
                                                            </select><br>
                                                            <input type="text" placeholder="必填">
                                                        </td>
                                                        <td>
                                                            <select name="" id="">
                                                                <option value="USD">USD</option>
                                                                <option value="TWD">TWD</option>
                                                                <option value="CNY">CNY</option>
                                                            </select><br>
                                                            <input type="text">
                                                        </td>
                                                        <td>
                                                            <select name="" id="">
                                                                <option value="USD">USD</option>
                                                                <option value="TWD">TWD</option>
                                                                <option value="CNY">CNY</option>
                                                            </select><br>
                                                            <input type="text">
                                                        </td>
                                                        <td>
                                                            <a onclick="window.open('territoryCode.html', 'newwindow', config='height=900,width=1000,toolbar=no');">
                                                                <i class="fa-folder-plus" style="font-size: 20px; margin-left: 5px; color:#5B5B5B;"></i>
                                                            </a>
                                                            <br>
                                                            <input type="text" placeholder="" required>
                                                        </td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-border">
                                                    <button class="btn btn-primary">新增</button>
                                                    <button class="btn btn-primary">複製</button>
                                                    <button class="btn btn-primary">儲存</button>
                                                    <button class="btn btn-primary">修改</button>
                                                    <button class="btn btn-primary">刪除</button>
                                                    <button class="btn btn-primary">離開</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>  
                                
                                </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary">確認</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
            </div>
        </div>
</section>
<!-- <script>
    $('.accordion').click(function(){
        $('.accordion').stop(true, true).toggleClass('plus');
        if($('.accordion').hasClass('plus')==false) {
            $(this).next().stop(true, true).show();
        }else {
            $(this).next().stop(true, true).hide();
        }
    });
</script> -->
</body>


</html>