<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">分進合約作業</a> &gt; <a>比例合約</a>
            </div>
            <div class="big_title title s1">分出合約查詢</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF301.html'">
                    比例合約
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF302.html'">
                    非比例合約
                </button>
            </div>

            <!-- 合約條件摘要-比例與非比例共用此選擇區塊 -->
            <div class="col-12 col-border">
                <div class="row-group form-row-group">
                    <div class="row">
                        <div class="input-title col-2 col-border">*Department<br>部門名稱</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="1">火災保險部</option>
                                <option value="2">海上保險部</option>
                                <option value="3">意外保險部</option>
                                <option value="4">個人保險部</option>
                                <option value="5">駐關島代表處</option>
                                <option value="6">國外部</option>
                                <option value="6">全部</option>
                            </select>
                        </div>
                        <div class="input-title col-2 col-border">*Type Code<br>合約型態</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="">Quota Share</option>
                                <option value="">Surplus</option>
                                <option value="">Quota Share & Surplus</option>
                                <option value="">Facultative</option>
                                <option value="">Open Cover</option>
                                <option value="">Pool</option>
                                <option value="">Binding Authority</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">Treaty Name<br>合約名稱</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="1">Marint Hull QS Treaty</option>
                                <option value="2"></option>
                            </select>
                        </div>
                        <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                        <div class="col-4 col-border">
                            <select name="" id="">
                                <option value="">2021</option>
                                <option value="">2022</option>
                            </select>
                        </div>
                    </div>
                <div class="row">
                <div class="col-4 col-border">
                <button class="btn btn-primary">新增比例</button>
                <button class="btn btn-primary">新增非比例</button>
                <button class="btn btn-primary">查詢</button>
                </div>
                </div>
            </div>
            </div>

            <div class="item_title title s2">比例合約</div>
            <!-- 合約代碼及名稱作業開始 -->
            <div class="divSpace"></div>
            <div class="container-fluid">
                <div class="item_title title s2">合約代碼及名稱作業</div>
                <div class="row-group form-row-group">
                    <div class="row">
                        <div class="input-title col-2 col-border">部門名稱：</div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                        <div class="input-title col-2 col-border">合約名稱：</div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">合約代碼：</div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                        <div class="input-title col-2 col-border">承保年度：</div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="row-group">
                    <div class="row">
                        <div class="col-12 d-flex justify-content-end">
                            <button class="btn btn-secondary">新增</button>
                            <button class="btn btn-primary">查詢</button>
                            <button class="btn btn-primary">匯出</button>
                            <button class="btn btn-edit" onclick="window.open('FRIF533_pop.html', 'newwindow', config='height=750,width=1280,toolbar=no');">
                                成份作業
                            </button>
                            <button class="btn btn-edit" onclick="window.open('FRIF527.html', 'newwindow', config='height=750,width=1280,toolbar=no');">
                                合約名稱作業
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 合約代碼及名稱作業結束 -->
            <div class="divSpace"></div>
            <div class="tableGray">
            <div class="row-group form-row-group">
                <div class="item_title title s2">
                    合約基本資料
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Treaty Name<br>合約名稱</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">*Department<br>部門</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                        <a href="" data-toggle="modal" data-target="#exampleModalthree">
                        <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*U/W Year<br>承保年度</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*Status<br>合約狀態</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="" selected>Open</option>
                            <option value="">Close</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Inception Date<br>再保契約責任始期</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                    <div class="input-title col-2 col-border">Portfolio Transfer<br>責任移轉</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="" selected>Run-Off</option>
                            <option value="">Clean-Cut</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Expiration Date<br>再保契約責任終期</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                    <div class="input-title col-2 col-border">Clean-Cut Date<br>結清日</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*PNOC<br>暫時註銷通知</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="MM/DD" required>
                    </div>
                    <div class="input-title col-2 col-border">*Business Code<br>預算險別代號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                        <a href="" data-toggle="modal" data-target="#exampleModaltwo">
                        <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*PNOC Automatically Tendered<br>自動提暫時註銷通知</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="Y" selected>Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Coverage<br>代碼 phase I </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Type Code<br>合約型態</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">Quota Share</option>
                            <option value="">Surplus</option>
                            <option value="">Quota Share & Surplus</option>
                            <option value="">Facultative</option>
                            <option value="">Open Cover</option>
                            <option value="">Pool</option>
                            <option value="">Binding Authority</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Coverage<br>代碼 phase II </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Attachment of Liability<br>責任歸屬</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1">Risk Attaching</option>
                            <option value="2">Loss Occurrence</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Portfolio<br>編碼</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">**Prior Cession To CRC<br>優先分出中再</div>
                    <div class="col-10 col-border">
                        <!-- 若系統判斷是非中再合約出現下面這段 -->
                        <select style="min-width: 32%;" name="" id="">
                            <option value="">N</option>
                            <option value="">該承保年度所有中再合約清單</option>
                        </select>
                        <button class="btn btn-edit">中再合約</button>
                         <!-- 若系統判斷是中再合約出現下面這段 -->
                        <input style="max-width:30%;" type="text" placeholder="0.0000%" required="">
                    </div>
                </div>
                <div class="row">
                    
                        <div class="input-title col-2 col-border">
                            <a href="#"> 
                                <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i>
                            </a>
                            Territory Code<br>區域代碼
                        </div>
                        <div class="col-10 col-border">
                            <div class="fileList">
                                <div id="addColumn">
                                <button class="btn btn-edit">刪除</button>
                                <select name="" id="">
                                    <option value="">Territory</option>
                                    <option value="">Interest Abroad</option>
                                    <option value="">Non-Interest Abroad</option>
                                </select>
                                <input type="text" placeholder="0.0000%" required="">
                                <a onclick="window.open('territoryCode.html', 'newwindow', config='height=900,width=1000,toolbar=no');">
                                    <i class="fas fa-folder-plus" style="font-size: 23px; position: relative; top: 5px; color:#5B5B5B;"></i>
                                </a>
                                </div>
                                <div id="addColumn">
                                    <button class="btn btn-edit">刪除</button>
                                    <select name="" id="">
                                        <option value="">Territory</option>
                                        <option value="">Interest Abroad</option>
                                        <option value="">Non-Interest Abroad</option>
                                    </select>
                                    <input type="text" placeholder="0.0000%" required="">
                                    <a onclick="window.open('territoryCode.html', 'newwindow', config='height=900,width=1000,toolbar=no');">
                                        <i class="fas fa-folder-plus" style="font-size: 23px; position: relative; top: 5px; color:#5B5B5B;"></i>
                                    </a>
                                    </div>
                                
                            </div>
                            
                        </div>
                    
                </div>
            </div>
            </div>

            <div class="divSpace"></div>


            <div class="divSpace"></div>

            <div class="tableGray">
            <div class="row-group form-row-group" >
                <div class="item_title title s2">
                    合約條件摘要
                </div>           
                <div class="row">
                    <div class="input-title col-2 col-border">Type of R/I Commission<br>佣金型態</div>
                    <div class="col-4 col-border">
                        <select style="min-width:80%;" name="" id="">
                            <option value="" selected="">Flat 固定</option>
                            <option value="">Sliding Scale 梯次</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">EPI (100%)<br>預估再保費</div>
                    <div class="col-4 col-border">
                        <select style="min-width:30%;" name="" id="">
                            <option value="" selected="">幣別</option>
                            <option value="">全部</option>
                            <option value="">TWD&nbsp;&nbsp;台幣</option>
                            <option value="">USD&nbsp;&nbsp;美金</option>
                            <option value="">HKD&nbsp;&nbsp;港幣</option>
                            <option value="">KRW&nbsp;&nbsp;韓幣</option>
                            <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                            <option value="">JPY&nbsp;&nbsp;日圓</option>
                            <option value="">GBP&nbsp;&nbsp;英鎊</option>
                            <option value="">EUR&nbsp;&nbsp;歐元</option>
                            <option value="">CNY&nbsp;&nbsp;人民幣</option>
                            <option value="">INR&nbsp;&nbsp;印度盧比</option>
                            <option value="">CAD&nbsp;&nbsp;加幣</option>
                            <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                            <option value="">AUD&nbsp;&nbsp;澳幣</option>
                            <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                            <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                            <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                            <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                            <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                            <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                            <option value="">THB&nbsp;&nbsp;泰幣</option>
                            <option value="">VND&nbsp;&nbsp;越南幣</option>
                            <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                        </select>
                        <input style="max-width:50%;" type="text" placeholder="金額" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">R/I Commission<br>再保佣金</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Revised EPI (100%)<br>修正後預估再保費</div>
                    <div class="col-4 col-border">
                        <select style="min-width:30%;" name="" id="">
                            <option value="" selected="">幣別</option>
                            <option value="">全部</option>
                            <option value="">TWD&nbsp;&nbsp;台幣</option>
                            <option value="">USD&nbsp;&nbsp;美金</option>
                            <option value="">HKD&nbsp;&nbsp;港幣</option>
                            <option value="">KRW&nbsp;&nbsp;韓幣</option>
                            <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                            <option value="">JPY&nbsp;&nbsp;日圓</option>
                            <option value="">GBP&nbsp;&nbsp;英鎊</option>
                            <option value="">EUR&nbsp;&nbsp;歐元</option>
                            <option value="">CNY&nbsp;&nbsp;人民幣</option>
                            <option value="">INR&nbsp;&nbsp;印度盧比</option>
                            <option value="">CAD&nbsp;&nbsp;加幣</option>
                            <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                            <option value="">AUD&nbsp;&nbsp;澳幣</option>
                            <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                            <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                            <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                            <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                            <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                            <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                            <option value="">THB&nbsp;&nbsp;泰幣</option>
                            <option value="">VND&nbsp;&nbsp;越南幣</option>
                            <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                        </select>
                        <input style="max-width:50%;" type="text" placeholder="金額" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Business Tax (%)<br>稅捐</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="0.00%" required>
                    </div>
                    <div class="input-title col-2 col-border">Event Limit (100%)<br>事件限額</div>
                    <div class="col-4 col-border">
                        <select style="min-width:30%;" name="" id="">
                            <option value="" selected="">幣別</option>
                            <option value="">全部</option>
                            <option value="">TWD&nbsp;&nbsp;台幣</option>
                            <option value="">USD&nbsp;&nbsp;美金</option>
                            <option value="">HKD&nbsp;&nbsp;港幣</option>
                            <option value="">KRW&nbsp;&nbsp;韓幣</option>
                            <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                            <option value="">JPY&nbsp;&nbsp;日圓</option>
                            <option value="">GBP&nbsp;&nbsp;英鎊</option>
                            <option value="">EUR&nbsp;&nbsp;歐元</option>
                            <option value="">CNY&nbsp;&nbsp;人民幣</option>
                            <option value="">INR&nbsp;&nbsp;印度盧比</option>
                            <option value="">CAD&nbsp;&nbsp;加幣</option>
                            <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                            <option value="">AUD&nbsp;&nbsp;澳幣</option>
                            <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                            <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                            <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                            <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                            <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                            <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                            <option value="">THB&nbsp;&nbsp;泰幣</option>
                            <option value="">VND&nbsp;&nbsp;越南幣</option>
                            <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                        </select>
                            <input style="max-width:50%;" type="text" placeholder="金額" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Profit Commission (%)<br>盈餘佣金</div>
                    <div class="col-4 col-border">
                        <select style="min-width:30%;" name="" id="">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                        <input style="max-width:50%;" type="text" placeholder="0.00%" required="">
                </div>
                    <div class="input-title col-2 col-border">Cash Loss (100%)<br>現金攤賠</div>
                    <div class="col-4 col-border">
                        <select style="min-width:30%;" name="" id="">
                            <option value="" selected="">幣別</option>
                            <option value="">全部</option>
                            <option value="">TWD&nbsp;&nbsp;台幣</option>
                            <option value="">USD&nbsp;&nbsp;美金</option>
                            <option value="">HKD&nbsp;&nbsp;港幣</option>
                            <option value="">KRW&nbsp;&nbsp;韓幣</option>
                            <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                            <option value="">JPY&nbsp;&nbsp;日圓</option>
                            <option value="">GBP&nbsp;&nbsp;英鎊</option>
                            <option value="">EUR&nbsp;&nbsp;歐元</option>
                            <option value="">CNY&nbsp;&nbsp;人民幣</option>
                            <option value="">INR&nbsp;&nbsp;印度盧比</option>
                            <option value="">CAD&nbsp;&nbsp;加幣</option>
                            <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                            <option value="">AUD&nbsp;&nbsp;澳幣</option>
                            <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                            <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                            <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                            <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                            <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                            <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                            <option value="">THB&nbsp;&nbsp;泰幣</option>
                            <option value="">VND&nbsp;&nbsp;越南幣</option>
                            <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                        </select>
                            <input style="max-width:50%;" type="text" placeholder="金額" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Management Expenses (%)<br>管理費用</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="0.00%" required>
                    </div>
                    <div class="input-title col-2 col-border">Account<br>會計帳</div>
                    <div class="col-4 col-border">
                        <select style="min-width:30%;" name="" id="">
                            <option value="" selected="">幣別</option>
                            <option value="">全部</option>
                            <option value="">TWD&nbsp;&nbsp;台幣</option>
                            <option value="">USD&nbsp;&nbsp;美金</option>
                            <option value="">HKD&nbsp;&nbsp;港幣</option>
                            <option value="">KRW&nbsp;&nbsp;韓幣</option>
                            <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                            <option value="">JPY&nbsp;&nbsp;日圓</option>
                            <option value="">GBP&nbsp;&nbsp;英鎊</option>
                            <option value="">EUR&nbsp;&nbsp;歐元</option>
                            <option value="">CNY&nbsp;&nbsp;人民幣</option>
                            <option value="">INR&nbsp;&nbsp;印度盧比</option>
                            <option value="">CAD&nbsp;&nbsp;加幣</option>
                            <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                            <option value="">AUD&nbsp;&nbsp;澳幣</option>
                            <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                            <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                            <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                            <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                            <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                            <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                            <option value="">THB&nbsp;&nbsp;泰幣</option>
                            <option value="">VND&nbsp;&nbsp;越南幣</option>
                            <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                        </select>
                            <input style="max-width:50%;" type="text" placeholder="金額" required="">
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Bordereaux<br>報表</div>
                    <div class="col-10 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Loss Participation<br>損失攤賠條款</div>
                    <div class="col-10 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Slip/Wording<br>摘要表</div>
                    <div class="col-10 col-border">
                        <div class="fileList">
                            <input type="text" placeholder="" required>
                            <input type="text" placeholder="" required>
                            <input type="text" placeholder="" required>
                            <input type="text" placeholder="" required>
                            <input type="text" placeholder="" required>
                            <input type="text" placeholder="" required>
                            <input type="text" placeholder="" required>
                            <input type="text" placeholder="" required>
                            </div>
                        <a href="#"> 
                        <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Remark<br>備註</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Last Updated Date<br>最後修改日</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
            </div>
            </div>
            
            <div class="divSpace"></div>
            <div class="row-group">
                <div class="col-12" style="border: 1px solid #ccc; padding: 3px;">
                    <table class="tblCssDataGrid css_table" style="table-layout:fixed">
                        <tbody>
                            <tr class="cssDataGridHeader">
                                <th style="width: 50px;"></th>
                                <th><a href="">部門</a></th>
                                <th><a href="">合約名稱</a></th>
                                <th><a href="">合約簡稱</a></th>
                                <th><a href="">承保年度</a></th>
                                <th>section</th>
                                <th>Treaty Limit (QS 100%)<br>合約限額</th>
                                <th>Treaty Limit (QS 100%) Remark<br>合約限額備註</th>
                                <th>Reinsurance Cession (%)<br>再保比例</th>
                                <th>Retention (%)<br>自留比例</th>
                                <th>Retention<br>自留額</th>
                            </tr>
                            <tr class="cssDataGridHeader">
                                <td>
                                    <span class="checkbox_box">
                                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                                        <label for="check1"></label>
                                    </span>
                                </td>
                                <td>火災保險部</td>
                                <td>FIRE FIRST SURPLUS REINSURANCE TREATY</td>
                                <td>FFS</td>
                                <td>1983</td>
                                <td>
                                   2021
                                </td>
                                <td>
                                   1
                                </td>
                                <td>
                                   QS
                                </td>
                                <td>
                                    2%
                                </td>
                                <td>
                                   TWD$200,000,000
                                </td>
                                <td>
                                    TWD$200,000,000
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            <div class="col-12 d-flex">
                <button class="btn btn-primary">整批</button>
                <button class="btn btn-primary">複製</button>
                <button class="btn btn-primary">儲存</button>
                <button class="btn btn-primary">修改</button>
                <button class="btn btn-primary">刪除</button>
                <button class="btn btn-primary">匯出</button>
                <button class="btn btn-edit" onclick="window.open('FRIF301_pop.html', 'newwindow', config='height=750,width=1280,toolbar=no');">
                    新增合約型態
                </button>
                <button class="btn btn-edit" onclick="window.open('FRIF_upreport.html', 'newwindow', config='height=750,width=1280,toolbar=no');">
                    合約條件變動
                </button>
            </div>
        </div>
        
    </div><!-- content end  -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModalone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  請輸入需新增之層數
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row-group">
                <div class="row">
                    <div class="input-title col-4 col-border justify-content-end">Section</div>
                    <div class="col-8 col-border">
                       <select name="" id="">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option value="6">6</option>
                           <option value="7">7</option>
                           <option value="8">8</option>
                           <option value="9">9</option>
                           <option value="10">10</option>
                       </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-4 col-border justify-content-end">Type</div>
                    <div class="col-8 col-border">
                        <select name="" id="">
                            <option value="">Quota Share</option>
                            <option value="">Surplus</option>
                        </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">確認</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModaltwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  請選取要加入的預算險別
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row-group">
                <div class="row">
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">火險-火災保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">水險-貨運保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_1" type="checkbox" name="radio01" value="1" checked="">
                            <label for="radio01_1">水險-船舶保險</label>
                        </span>
                    </div>
                    
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">水險-航空保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">意外險-工程保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">意外險-核能保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">意外險-其他保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">車險-汽車保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">健傷險-健康保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">健傷險-傷害保險</label>
                        </span>
                    </div>
                    
                    
                    
                </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">加入</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="exampleModalthree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  請選取要加入部門別
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row-group">
                <div class="row">
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_1" type="checkbox" name="radio01" value="1" checked="">
                            <label for="radio01_1">火災保險</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">海上保險部</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">意外保險部</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">個人保險部</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">駐關島代表處</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">國外部</label>
                        </span>
                    </div>
                    <div class="col-3 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_2" type="checkbox" name="radio01" value="2">
                            <label for="radio01_2">全部</label>
                        </span>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">加入</button>
            </div>
          </div>
        </div>
      </div>
</section>

</body>


</html>