<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
            <div class="bread-crumbs">
                <a href="#">分出作業</a> &gt; <a href="#">合約代碼及名稱作業</a>
            </div>
            <div class="big_title title s1">合約代碼及名稱作業</div>
            
            <div class="item_title title s2">合約代碼及名稱作業</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">部門名稱：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">合約名稱：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">合約代碼：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">承保年度：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="row-group">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-secondary">新增</button>
                        <button class="btn btn-primary">查詢</button>
                        <button class="btn btn-primary">匯出</button>
                    </div>
                </div>
            </div>
            <div class="filterBar">
                <div class="row-group">
                    <div class="row">
                        <!-- <div class="col-1"><button class="btn btn-primary">新增項目</button></div> -->
                        <div class="col-2">
                            <a href="#" id="" class="pages_icon to_left">⊻</a>
                            <a href="#" id="" class="pages_icon">＜</a>
                            <a href="#" id="" class="pages_icon">＞</a>
                            <a href="#" id="" class="pages_icon to_right">⊼</a>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">0</span>
                            <span id="" class="">筆</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">每頁</span>
                            <select name="" id="" style="min-width: 40px;">
                                <option value="">10</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">200</option>
                            </select>
                            <span id="" class="">筆</span>
                            <button class="btn btn-primary">go</button>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">1</span>
                            <span id="" class="">頁</span>
                        </div>
                        <div class="col-3">
                            <span id="" class="">目前第</span>
                            <input name="" type="text" value="1" id="" class="" style="width:32px;">
                            <span id="" class="">頁</span>
                            <button class="btn btn-primary">go</button>
                            <!-- <button class="btn btn-primary">暫存</button> -->
                        </div>
                    </div>
                </div>
                
            </div>
                <table class="tblCssDataGrid css_table">
                        <tbody><tr class="cssDataGridHeader">
                            <th style=""><a href=""></a></th>
                            <th><a href="">部門</a></th>
                            <th><a href="">合約名稱</a></th>
                            <th><a href="">合約簡稱</a></th>
                            <th><a href="">承保年度</a></th>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-edit">修改</button>
                                <button type="button" class="btn btn-delete">刪除</button>
                            </td>
                            <td>火災保險部</td>
                            <td>FIRE FIRST SURPLUS REINSURANCE TREATY</td>
                            <td>FFS</td>
                            <td>1983</td>
                        </tr>
                        
                        
                        
                        
                </tbody>
                </table>
    </div>
            
    
    <!-- content end  -->
</section>

</body>


</html>