<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">查詢作業</a>
            </div>
            <!-- A(3)Period的勾選結果 -->
            <div class="big_title title s1">未決賠款作業</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF310.html'">
                    未決賠款登錄
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF312.html'">
                    重大賠款登錄
                </button>
            </div>
            <div class="row-group">
                <div class="item_title title s2">未決賠款登錄與維護</div>
            </div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="必填" required>
                    </div>
                    <div class="input-title col-2 col-border">Layer/Section</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="必填" required>
                    </div>
                    <div class="input-title col-2 col-border">Our Share (%)<br>分入成分 (%)</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="必填" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">As At<br>資料基準日</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="必填YYYY/MM/DD" required>
                    </div>
                    <div class="input-title col-2 col-border">Currency<br>幣別</div>
                    <div class="col-4 col-border" required>
                        <select style="min-width:30%;" name="" id="">
                            <option value="" selected="">幣別</option>
                            <option value="">全部</option>
                            <option value="">TWD&nbsp;&nbsp;台幣</option>
                            <option value="">USD&nbsp;&nbsp;美金</option>
                            <option value="">HKD&nbsp;&nbsp;港幣</option>
                            <option value="">KRW&nbsp;&nbsp;韓幣</option>
                            <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                            <option value="">JPY&nbsp;&nbsp;日圓</option>
                            <option value="">GBP&nbsp;&nbsp;英鎊</option>
                            <option value="">EUR&nbsp;&nbsp;歐元</option>
                            <option value="">CNY&nbsp;&nbsp;人民幣</option>
                            <option value="">INR&nbsp;&nbsp;印度盧比</option>
                            <option value="">CAD&nbsp;&nbsp;加幣</option>
                            <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                            <option value="">AUD&nbsp;&nbsp;澳幣</option>
                            <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                            <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                            <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                            <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                            <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                            <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                            <option value="">THB&nbsp;&nbsp;泰幣</option>
                            <option value="">VND&nbsp;&nbsp;越南幣</option>
                            <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Original Amount (100%)<br>原幣金額 (100%)</div>
                    <div class="col-4 col-border">
                        <input style="max-width: 80%;" type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Original Amount (Our share)<br>原幣金額 (分入成分)</div>
                    <div class="col-4 col-border">
                        <input style="max-width: 80%;" type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Entry Date<br>輸入日期</div>
                    <div class="col-4 col-border">
                        <input style="max-width: 80%;" type="text" placeholder="自動帶入當天日期" required>
                    </div>
                </div>
            </div>
            <div class="row-group">
                <div class="row">
                    <div class="col-12 d-flex">
                        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalTwo">新增</button>
                        <button class="btn btn-primary">修改</button>
                        <button class="btn btn-primary">儲存</button>
                        <button class="btn btn-primary">刪除</button>
                        <button class="btn btn-primary">離開</button>
                    </div>
                </div>
            </div>
                    <table class="tblCssDataGrid css_table">
                        <tbody><tr class="cssDataGridHeader">
                            <th>
                                <span class="checkbox_box">
                                    <input id="check1" type="checkbox" name="check" value="1" checked="">
                                    <label for="check1"></label>
                                </span>
                            </th>
                            <th>Treaty Code<br>合約卷號</th>
                            <th>U/W Year<br>承保年度</th>
                            <th>Currency<br>幣別</th>
                            <th><a href="">Original Amount (100%)<br>原幣金額 (100%)</a></th>
                            <th><a href="">TWD Amount (100%)<br>台幣金額 (100%)</a></th>
                            <th><a href="">Our Share (%)<br>分入成分 (%)</a></th>
                            <th><a href="">Original Amount (Our Share)<br>原幣金額 (分入成分)</a></th>
                            <th><a href="">TWD Amount (Our Share)<br>台幣金額 (分入成分)</a></th>
                            <th><a href="">As At<br>資料基準日</a></th>
                            <th><a href="">Entry Date<br>輸入日期</a></th>
                        </tr>
                        <tr>
                            <td>
                                <span class="checkbox_box">
                                    <input id="check1" type="checkbox" name="check" value="1" checked="">
                                    <label for="check1"></label>
                                </span>
                            </td>
                            <td></td>
                            <td>2008</td>
                            <td></td>
                            <td>00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>1.0000%</td>
                            <td>0.00</td>
                            <td>YYYY/MM/DD</td>
                            <td>YYYY/MM/DD</td>
                        </tr>
                        <tr>
                            <td>
                                <span class="checkbox_box">
                                    <input id="check1" type="checkbox" name="check" value="1" checked="">
                                    <label for="check1"></label>
                                </span>
                            </td>
                            <td>2008</td>
                            <td>73</td>
                            <td></td>
                            <td>00</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>1.0000%</td>
                            <td>0.00</td>
                            <td>YYYY/MM/DD</td>
                            <td>YYYY/MM/DD</td>
                        </tr>
                        <tr class="table-total">
                            <td>Sub Total<br>小計</td>
                            <td colspan="10">1,000,000TWD</td>
                        </tr>
                        <tr class="table-total">
                            <td>Grand Total<br>總計</td>
                            <td colspan="10">1,000,000TWD</td>
                        </tr>
                    </tbody>
                    </table>
    </div>
    <!-- content end  -->
    <!-- 彈跳視窗1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  提醒
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row-group">
                <div class="row">
                    <div class="col-12">
                    <h3 class="text-center">將清除「查詢欄位」資料，確定新增？</h3>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">確認</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
    </div> 
    <!-- 彈跳視窗2 -->
    <div class="modal fade" id="exampleModalTwo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                複製
                </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row-group">
                <div class="row">
                    <div class="col-12">
                    <h3>As At</h3>
                    <input type="text" placeholder="YYYY/MM/DD" required="">
                    <button class="btn btn-primary">確認</button>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
           
            </div>
          </div>
        </div>
    </div> 
</section>
<script>
    $('.accordion').click(function(){
        $('.accordion').stop(true, true).toggleClass('plus');
        if($('.accordion').hasClass('plus')==false) {
            $(this).next().stop(true, true).show();
        }else {
            $(this).next().stop(true, true).hide();
        }
    });
</script>

</body>


</html>