<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">查詢作業</a>
            </div>
            <!-- A(3)Period的勾選結果 -->
            <div class="big_title title s1">帳單作業</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='RF007_A(3).html'">
                    帳單臨時檔登錄
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF005.html'">
                    帳單臨時檔查詢與維護
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF006.html'">
                    帳單臨時檔資料列印
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF007.html'">
                    帳單臨時檔併入主檔及補傳
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF311.html'">
                    帳單主檔查詢(單筆)
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF313.html'">
                    合約帳單查詢
                </button>
            </div>
            <div class="row-group">
                <div class="item_title title s2">合約帳單查詢</div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary">查詢</button>
                        <button class="btn btn-primary">列印</button>
                    </div>
                </div>
            </div>
            <!-- <div class="item_title title s2">Period</div> -->
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty-Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Inception Date<br>起</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Expiry Date<br>迄</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Entry-Date<br>入帳日期</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
            </div>
            <!-- A區 end -->
            
            <div class="row-group">
                <div class="row">
                    <div class="col-12 d-flex">
                        <button class="btn btn-secondary">儲存</button>
                        <button class="btn btn-primary">取消</button>
                        <button class="btn btn-primary">離開</button>
                    </div>
                </div>
            </div>
           
            
    </div><!-- content end  -->
</section>

</body>


</html>