<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8" lang="zh-Hant-TW">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
        <title>兆豐</title>
        <!-- jQuery -->
        <script src="../../shigen/plugin/jquery.min.js"></script>
        <!-- bootstrap -->
        <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
        <script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
        <!-- fontawsome -->
        <script defer src="../../shigen/fonts/js/all.min.js"></script>
        <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
        <!--load all styles -->
        <!-- 共用樣式 -->
        <link rel="stylesheet" href="../../shigen/css/base.css">
        <!-- menu 樣式 -->
        <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
        <link rel="stylesheet" href="../../shigen/css/menu.css">
        <!-- 主要樣式 -->
        <link rel="stylesheet" href="../../shigen/css/type.css">
        
        <!-- 自訂JS樣式 -->
        <script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">查詢作業</a>
            </div>
            <!-- A(3)Period的勾選結果 -->
            <div class="big_title title s1">未決賠款作業</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='FRIF314.html'">
                    未決賠款資料查詢
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF310.html'">
                    未決賠款登錄
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF312.html'">
                    重大賠款登錄
                </button>
            </div>
            <div class="row-group">
                <div class="item_title title s2">重大賠案登錄與維護<button  class="btn btn-secondary" style="font-size:.8rem ; line-height:18px;"  data-toggle="modal" data-target="#exampleModalthree">重大賠案清單</button></div>
                
            </div>
            <!-- <div class="item_title title s2">Period</div> -->
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Major Loss Name<br>重大賠案名稱</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*Our Share (%)<br>分入成分 (%)</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="必填" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Date of Loss<br>出險日期</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                    <div class="input-title col-2 col-border">Paid Loss Original Amount (100%)<br>已決賠款原幣 (100%)</div>
                    <div class="col-4 col-border">
                        <input style="max-width:80%;" type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Paid Loss Original Amount (Our Share)<br>已決賠款原幣 (分入成分)</div>
                    <div class="col-4 col-border">
                        <input style="max-width:80%;" type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">OS Loss Original (100%)<br>未決賠款台幣 (100%)</div>
                    <div class="col-4 col-border">
                        <input style="max-width:80%;" type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Layer/Section</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">OS Loss Original (Our Share)<br>未決賠款台幣 (分入成分)</div>
                    <div class="col-4 col-border">
                        <input style="max-width:80%;" type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Currency<br>幣別</div>
                    <div class="col-4 col-border">
                        <select style="min-width:30%;" name="" id="">
                            <option value="" selected="">幣別</option>
                            <option value="">全部</option>
                            <option value="">TWD&nbsp;&nbsp;台幣</option>
                            <option value="">USD&nbsp;&nbsp;美金</option>
                            <option value="">HKD&nbsp;&nbsp;港幣</option>
                            <option value="">KRW&nbsp;&nbsp;韓幣</option>
                            <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                            <option value="">JPY&nbsp;&nbsp;日圓</option>
                            <option value="">GBP&nbsp;&nbsp;英鎊</option>
                            <option value="">EUR&nbsp;&nbsp;歐元</option>
                            <option value="">CNY&nbsp;&nbsp;人民幣</option>
                            <option value="">INR&nbsp;&nbsp;印度盧比</option>
                            <option value="">CAD&nbsp;&nbsp;加幣</option>
                            <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                            <option value="">AUD&nbsp;&nbsp;澳幣</option>
                            <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                            <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                            <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                            <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                            <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                            <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                            <option value="">THB&nbsp;&nbsp;泰幣</option>
                            <option value="">VND&nbsp;&nbsp;越南幣</option>
                            <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Entry Date<br>輸入日期</div>
                    <div class="col-4 col-border">
                        <input style="max-width:80%;" type="text" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="row-group">
                <div class="row">
                    <div class="col-12 d-flex ">
                        <button class="btn btn-secondary">新增</button>
                        <button class="btn btn-primary">修改</button>
                        <button class="btn btn-primary">儲存</button>
                        <button class="btn btn-primary">刪除</button>
                        <button class="btn btn-primary">離開</button>
                    </div>
                </div>
            </div>
            <div class="filterBar">
                <div class="row-group">
                    <div class="row">
                        <div class="col-2">
                            <a href="#" id="" class="pages_icon to_left">⊻</a>
                            <a href="#" id="" class="pages_icon">＜</a>
                            <a href="#" id="" class="pages_icon">＞</a>
                            <a href="#" id="" class="pages_icon to_right">⊼</a>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">0</span>
                            <span id="" class="">筆</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">每頁</span>
                            <select name="" id="" style="min-width: 40px;">
                                <option value="">10</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">200</option>
                            </select>
                            <span id="" class="">筆</span>
                            <button class="btn btn-primary">確認</button>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">1</span>
                            <span id="" class="">頁</span>
                        </div>
                        <div class="col-3">
                            <span id="" class="">目前第</span>
                            <input name="" type="text" value="1" id="" class="" style="width:32px;">
                            <span id="" class="">頁</span>
                            <button class="btn btn-primary">確認</button>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="x_scroll">
                <table class="tblCssDataGrid css_table">
                    <tbody>
                    <tr>
                        <tr class="cssDataGridHeader">
                            <th style="min-width:40px;">
                                <span class="checkbox_box">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1"></label>
                                </span>
                            </th>
                            <th><a href="">Major Loss Name<br>重大賠案名稱</a></th>
                            <th><a href="">Date of Loss<br>出險日期</a></th>
                            <th><a href="">Treaty Code<br>合約卷號</a></th>
                            <th><a href="">U/W Year<br>承保年度</a></th>
                            <th><a href="">Layer/Section</a></th>
                            <th><a href="">Our Share (%)<br>分入成分 (%)</a></th>
                            <th><a href="">Currency<br>幣別</a></th>
                            <th colspan="2"><a href="">Paid Loss (Our Share)<br>已決賠款 (分入成分)</a></th>
                            <th colspan="2"><a href="">OS Loss (Our Share)<br>未決賠款 (分入成分)</a></th>
                            <th colspan="2"><a href="">Incurred Loss (Our Share)<br>已發生賠款 (分入成分)</a></th>
                            <th><a href="">Entry Date<br>輸入日期</a></th>
                        </tr>
                        <tr class="cssDataGridHeader">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Original原幣</td>
                            <td>TWD台幣</td>
                            <td>Original原幣</td>
                            <td>TWD台幣</td>
                            <td>Original原幣</td>
                            <td>TWD台幣</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>TWD1,000</td>
                            <td>1,000</td>
                            <td>TWD1,000</td>
                            <td>1,000</td>
                            <td>TWD1,000</td>
                            <td>1,000</td>
                            <td></td>
                        </tr>
                    </tr>
                    </tbody>
                </table>
            </div>
    </div><!-- content end  -->
        <!-- Modal3 請選取要加入部門別-->
        <div class="modal fade" id="exampleModalthree" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        重大賠案清單
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-group">
                        <div class="row">
                            <table class="tblCssDataGrid css_table">
                                <tbody>
                                <tr>
                                    <tr class="cssDataGridHeader">
                                        <th style="min-width:40px;">
                                            <span class="checkbox_box">
                                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                                            <label for="check1"></label>
                                            </span>
                                        </th>
                                        <th><a href="">Major Loss Name<br>重大賠案名稱</a></th>
                                        <th><a href="">Date of Loss<br>出險日期</a></th>
                                    </tr>
                                    <tr class="cssDataGridHeader">
                                        <td><span class="checkbox_box">
                                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                                            <label for="check1"></label>
                                            </span></td>
                                        <td></td>
                                        <td>2012/05/23</td>
                                    </tr>
                                    <tr>
                                        <td><span class="checkbox_box">
                                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                                            <label for="check1"></label>
                                            </span></td>
                                        <td></td>
                                        <td>2020/05/23</td>
                                    </tr>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-primary">新增</button>
                <button type="button" class="btn btn-secondary">離開</button>
                </div>
                </div>
            </div>
        </div>
</section>

</body>


</html>