<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>homepage</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <!-- <div class="bread-crumbs">
                <a href="#">維護作業</a> &gt; <a href="#">公司資料</a> &gt; <a>公司資料維護</a>
            </div> -->
            <div class="big_title title s1">歡迎使用國外部再保系統</div>
            <p>請由左側選單選擇您需要的功能</p>

           
            <!-- row-group end -->
			
			
    </div><!-- content end  -->
</section>
<script>
    

    $('.accordion').click(function(){
        $('.accordion').stop(true, true).toggleClass('plus');
        if($('.accordion').hasClass('plus')==false) {
            $(this).next().stop(true, true).show();
        }else {
            $(this).next().stop(true, true).hide();
        }
    });
</script>
</body>


</html>