<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    

    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">非比例合約</a> &gt; <a href="#">新增合約形態內容</a>
            </div>
            <div style="border: 1px solid #F18A47;padding: 10px; background-color: #fcfaf0;">
                
                <button style="font-size: 15px;" class="btn btn-primary">刪除</button>
                <button style="font-size: 15px;" class="btn btn-primary">儲存</button>
                <button style="font-size: 15px;" class="btn btn-primary">離開</button>
            <div class="tableGray_b">
                <div class="item_title title s2">
                    合約型態內容
                </div>
                <!-- table scroll-x -->
                <div class="x_scroll ">
                    <table class="calculateBox">
                        <tr class="calculateBoxHead">
                            <td>*Layer<br>層數</td>
                            <td>section<br></td>
                            <td>Our Share (%)<br>分入成分 (%)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select name="" id="">
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="">Quota Share</option>
                                    <option value="">Surplus</option>
                                    <option value="">Quota Share & Surplus</option>
                                    <option value="">Facultative</option>
                                    <option value="">Open Cover</option>
                                    <option value="">Pool</option>
                                    <option value="">Binding Authority</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" style="max-width: 30%;" placeholder="" required>%
                            </td>
                            <td></td>
                        </tr>
                        <tr class="calculateBoxHead" style="vertical-align: middle;">
                            <td>
                                Limit (100%)<br>再保契約再保責任險 (限額)
                            </td>
                            <td >
                                Limit (Our Share)<br>再保契約再保責任險 (限額)
                            </td>
                            <td>Attachment Point (100%)<br>再保額契約期種類</td>
                            <td>Attachment Point (Our Share)<br>再保額契約期種類</td>
                        </tr>
                        <tr>
                            <td>
                            <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                            <td >
                                <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                            <td>
                                <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                            <td>
                                <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                        </tr>
                        <tr class="calculateBoxHead" style="vertical-align: middle;">
                            <td>MDP (100%)<br>最低預收保費</td>
                            <td>MDP (Our Share)<br>最低預收保費</td>
                            <td>Adjustable Rate (%)<br>費率 (%)</td>
                            <td>*Rate On Line (%)<br>責任額費率</td>
                        </tr>
                        <tr>
                            <td>
                            <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                            <td >
                                <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                            <td>
                                <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                            <td>
                                <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                        </tr>
                        <tr class="calculateBoxHead" style="vertical-align: middle;">
                            <td>Reinstatemet (time)<br>復效次數</td>
                            <td>Reinstatement (%)<br>復效比例 (full=100%)</td>
                            <td>Additional Premium (%)<br>復效保費</td>
                            <td>Limit in all<br>總限額</td>
                        </tr>
                        <tr>
                            <td>
                            <input style="max-width:48%;" type="text" placeholder="0" required="">
                            </td>
                            <td >
                                <input style="max-width:48%;" type="text" placeholder="100%" required="">
                            </td>
                            <td>
                                <input style="max-width:48%;" type="text" placeholder="100%" required="">
                            </td>
                            <td>
                                <select style="min-width:48%;"name="" id="">
                                    <option value="">幣別</option>
                            </select>
                                    <input style="max-width:48%;" type="text" placeholder="金額" required="">
                            </td>
                        </tr>
                        <tr class="calculateBoxHead" style="vertical-align: middle;">
                            <td>Accounting Code<br>會計險別代號</td>
                            <td>Actuarial Code<br>精算損益險別代號</td>
                            <td>Business Code<br>預算顯別代號</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                            <select name="" id="">
                                <option value="">ol,一年期住宅火災保險</option>
                            </select>
                            </td>
                            <td >
                                <select name="" id="">
                                    <option value="">F1po1,火普通險-自用</option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="">火災保險</option>
                                </select>
                            </td>
                            <td> </td>
                        </tr>
                        <tr class="calculateBoxHead" style="vertical-align: middle;">
                            <td>Coverage<br>代碼 phase I</td>
                            <td>Coverage<br>代碼 phase II</td>
                            <td>Portfolio<br>編碼</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" placeholder="" required>
                            </td>
                            <td >
                                <input type="text" placeholder="" required>
                            </td>
                            <td>
                                <input type="text" placeholder="" required>
                            </td>
                            <td> </td>
                        </tr>
                        <tr class="calculateBoxHead" style="vertical-align: middle;">
                            <td>Earthquake<br>地震</td>
                            <td>Windstorm/Flood<br>颱風/洪水</td>
                            <td>Remark<br>備註</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td >
                                <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value=""></option>
                                </select>
                            </td>
                            <td> </td>
                        </tr>
                        <tr class="calculateBoxHead">
                            <td colspan="4">
                                <div class="tableAbuttom">
                                    <a href="#">
                                    <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px; margin-bottom: 5px;"></i>
                                </a> 
                                </div>
                                <div class="tableAbuttom">
                                Territory Code<br>區域代碼</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <button class="btn btn-edit">刪除</button>
                                <select style="min-width: 30%;" name="" id="">
                                    <option value="">Territory</option>
                                    <option value="">Interest Abroad</option>
                                    <option value="">Non-Interest Abroad</option>
                                </select>
                                    <input style="max-width:50%;" type="text" placeholder="" required="">
                                    <a onclick="window.open('territoryCode.html', 'newwindow', config='height=900,width=1000,toolbar=no');">
                                        <i class="fas fa-folder-plus" style="font-size: 20px; margin-left: 5px; color:#5B5B5B;"></i>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <button class="btn btn-edit">刪除</button>
                                <select style="min-width: 30%;" name="" id="">
                                    <option value="">Territory</option>
                                    <option value="">Interest Abroad</option>
                                    <option value="">Non-Interest Abroad</option>
                                </select>
                                    <input style="max-width:50%;" type="text" placeholder="" required="">
                                    <a onclick="window.open('territoryCode.html', 'newwindow', config='height=900,width=1000,toolbar=no');">
                                        <i class="fas fa-folder-plus" style="font-size: 20px; margin-left: 5px; color:#5B5B5B;"></i>
                                    </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
           
            </div>
    </div>
    <!-- content end  -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  請輸入需新增之層數
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row-group">
                <div class="row">
                    <div class="input-title col-4 col-border justify-content-end">Section</div>
                    <div class="col-8 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-4 col-border justify-content-end">Type</div>
                    <div class="col-8 col-border">
                        <select name="" id="">
                            <option value="">Quota Share</option>
                            <option value="">Surplus</option>
                        </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">確認</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>


</body>


</html>