<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<script src="../../shigen/plugin/bootstrap/bootstrap.min.js"></script>
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
            <div class="bread-crumbs">
                <a href="#">比例合約</a> &gt; <a href="#">新增合約型態</a>
            </div>
            <div style="border: 1px solid #F18A47;padding: 10px; background-color: #fcfaf0;">
                
                <button style="font-size: 15px;" class="btn btn-primary">刪除</button>
                <button style="font-size: 15px;" class="btn btn-primary">儲存</button>
                <button style="font-size: 15px;" class="btn btn-primary">離開</button>
            <div class="tableGray_b">
                <div class="item_title title s2">
                    合約型態內容
                </div>
                <!-- table scroll-x -->
                <div class="x_scroll ">
                    <table class="calculateBox">
                        <tr class="calculateBoxHead">
                            <td>*Section</td>
                            <td>Type Code<br>合約型態</td>
                            <td>Our Share (%)<br>分入成分 (%)</td>
                            <td>Our Share (100%)<br>分入成分 (100%)</td>
                        </tr>
                        <tr>
                            <td>
                                <select name="" id="">
                                    <option value="">必填</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="">必填</option>
                                    <option value="">Quota Share</option>
                                    <option value="">Surplus</option>
                                    <option value="">Quota Share & Surplus</option>
                                    <option value="">Facultative</option>
                                    <option value="">Open Cover</option>
                                    <option value="">Pool</option>
                                    <option value="">Binding Authority</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" style="max-width: 30%;" placeholder="必填" required>%
                                of
                                <input type="text" style="max-width: 30%;" placeholder="" required>%
                            </td>
                            <td>
                                <input type="text" style="max-width: 30%;" placeholder="必填" required>% of 100%
                            </td>
                        </tr>
                        <tr class="calculateBoxHead">
                            <td>*EPI (100%)<br>預估再保費</td>
                            <td>*EPI (Our Share)<br>預估再保費</td>
                            <td>Revised EPI (100%)<br>修正後預估再保費</td>
                            <td>Revised EPI (Our Share)<br>修正後預估再保費</td>
                        </tr>
                        <tr>
                            <td>
                                <select style="min-width:30%;" name="" id="">
                                    <option value="" selected="">幣別</option>
                                    <option value="">全部</option>
                                    <option value="">TWD&nbsp;&nbsp;台幣</option>
                                    <option value="">USD&nbsp;&nbsp;美金</option>
                                    <option value="">HKD&nbsp;&nbsp;港幣</option>
                                    <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                    <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                    <option value="">JPY&nbsp;&nbsp;日圓</option>
                                    <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                    <option value="">EUR&nbsp;&nbsp;歐元</option>
                                    <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                    <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                    <option value="">CAD&nbsp;&nbsp;加幣</option>
                                    <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                    <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                    <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                    <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                    <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                    <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                    <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                    <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                    <option value="">THB&nbsp;&nbsp;泰幣</option>
                                    <option value="">VND&nbsp;&nbsp;越南幣</option>
                                    <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                </select>
                                <input style="max-width:50%;" type="text" placeholder="金額" required="">
                            </td>
                            <td>
                                <select style="min-width:30%;" name="" id="">
                                    <option value="" selected="">幣別</option>
                                    <option value="">全部</option>
                                    <option value="">TWD&nbsp;&nbsp;台幣</option>
                                    <option value="">USD&nbsp;&nbsp;美金</option>
                                    <option value="">HKD&nbsp;&nbsp;港幣</option>
                                    <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                    <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                    <option value="">JPY&nbsp;&nbsp;日圓</option>
                                    <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                    <option value="">EUR&nbsp;&nbsp;歐元</option>
                                    <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                    <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                    <option value="">CAD&nbsp;&nbsp;加幣</option>
                                    <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                    <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                    <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                    <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                    <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                    <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                    <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                    <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                    <option value="">THB&nbsp;&nbsp;泰幣</option>
                                    <option value="">VND&nbsp;&nbsp;越南幣</option>
                                    <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                </select>
                                <input style="max-width:50%;" type="text" placeholder="金額" required="">
                            </td>
                            <td>
                                <select style="min-width:30%;" name="" id="">
                                    <option value="" selected="">幣別</option>
                                    <option value="">全部</option>
                                    <option value="">TWD&nbsp;&nbsp;台幣</option>
                                    <option value="">USD&nbsp;&nbsp;美金</option>
                                    <option value="">HKD&nbsp;&nbsp;港幣</option>
                                    <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                    <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                    <option value="">JPY&nbsp;&nbsp;日圓</option>
                                    <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                    <option value="">EUR&nbsp;&nbsp;歐元</option>
                                    <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                    <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                    <option value="">CAD&nbsp;&nbsp;加幣</option>
                                    <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                    <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                    <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                    <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                    <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                    <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                    <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                    <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                    <option value="">THB&nbsp;&nbsp;泰幣</option>
                                    <option value="">VND&nbsp;&nbsp;越南幣</option>
                                    <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                </select>
                                <input style="max-width:50%;" type="text" placeholder="金額" required="">
                            </td>
                            <td>
                                <select style="min-width:30%;" name="" id="">
                                    <option value="" selected="">幣別</option>
                                    <option value="">全部</option>
                                    <option value="">TWD&nbsp;&nbsp;台幣</option>
                                    <option value="">USD&nbsp;&nbsp;美金</option>
                                    <option value="">HKD&nbsp;&nbsp;港幣</option>
                                    <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                    <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                    <option value="">JPY&nbsp;&nbsp;日圓</option>
                                    <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                    <option value="">EUR&nbsp;&nbsp;歐元</option>
                                    <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                    <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                    <option value="">CAD&nbsp;&nbsp;加幣</option>
                                    <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                    <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                    <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                    <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                    <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                    <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                    <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                    <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                    <option value="">THB&nbsp;&nbsp;泰幣</option>
                                    <option value="">VND&nbsp;&nbsp;越南幣</option>
                                    <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                </select>
                                <input style="max-width:50%;" type="text" placeholder="金額" required="">
                            </td>
                        </tr>
                        <tr class="calculateBoxHead">
                            <td>*Accounting Code<br>會計險別代號</td>
                            <td>*Actuarial Code<br>精算損益險別代號</td>
                            <td>*Business Code<br>預算險別代號</td>
                            <td>Remark<br>備註</td>
                        </tr>
                        <tr>
                            <td>
                                <select name="" id="">
                                    <option value="">必填</option>
                                    <option value="">F1P01 火普通險-自用</option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="">01-一年期住宅火災保險</option>
                                </select>
                            </td>
                            <td>
                                <select name="" id="">
                                    <option value="">火災保險</option>
                                </select>
                            </td>
                            <td><input type="text" placeholder="" required></td>
                        </tr>
                        <tr class="calculateBoxHead">
                            <td style="line-height: 2.5rem;">Coverage 代碼Phase I</td>
                            <td style="line-height: 2.5rem;">Coverage 代碼Phase II</td>
                            <td style="line-height: 2.5rem;">Portfolio編碼</td>
                            <td style="line-height: 2.5rem;"></td>
                        </tr>
                        <tr>
                            <td><input type="text" placeholder="" required></td>
                            <td><input type="text" placeholder="" required></td>
                            <td><input type="text" placeholder="" required></td>
                            <td></td>
                        </tr>
                        <tr class="calculateBoxHead" style="vertical-align: middle;">
                            <td colspan="2">
                                <div class="tableAbuttom">
                                    <a href="#">
                                    <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px; "></i>
                                    </a>
                                </div>
                                <div class="tableAbuttom">
                                    Limit (100%)<br>再保契約再保責任額 (限額)
                                </div>
                            </td>
                            <td colspan="2">
                                Limit (Our Share)<br>再保契約再保責任額 (限額)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                            <table style="width: 100%;">
                                <tr>
                                    <td>
                                        <button class="btn btn-edit">刪除</button>
                                        <select style="min-width: 30%;" name="" id="">
                                            <option value="">Territory</option>
                                            <option value="">Interest Abroad</option>
                                            <option value="">Non-Interest Abroad</option>
                                        </select>
                                        <select style="min-width:30%;" name="" id="">
                                            <option value="" selected="">幣別</option>
                                            <option value="">全部</option>
                                            <option value="">TWD&nbsp;&nbsp;台幣</option>
                                            <option value="">USD&nbsp;&nbsp;美金</option>
                                            <option value="">HKD&nbsp;&nbsp;港幣</option>
                                            <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                            <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                            <option value="">JPY&nbsp;&nbsp;日圓</option>
                                            <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                            <option value="">EUR&nbsp;&nbsp;歐元</option>
                                            <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                            <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                            <option value="">CAD&nbsp;&nbsp;加幣</option>
                                            <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                            <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                            <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                            <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                            <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                            <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                            <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                            <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                            <option value="">THB&nbsp;&nbsp;泰幣</option>
                                            <option value="">VND&nbsp;&nbsp;越南幣</option>
                                            <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                        </select>
                                        <input style="max-width:25%;" type="text" placeholder="金額" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                    <button class="btn btn-edit">刪除</button>
                                    <select style="min-width: 30%;" name="" id="">
                                        <option value="">Territory</option>
                                        <option value="">Interest Abroad</option>
                                        <option value="">Non-Interest Abroad</option>
                                    </select>
                                    <select style="min-width:30%;" name="" id="">
                                        <option value="" selected="">幣別</option>
                                        <option value="">全部</option>
                                        <option value="">TWD&nbsp;&nbsp;台幣</option>
                                        <option value="">USD&nbsp;&nbsp;美金</option>
                                        <option value="">HKD&nbsp;&nbsp;港幣</option>
                                        <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                        <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                        <option value="">JPY&nbsp;&nbsp;日圓</option>
                                        <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                        <option value="">EUR&nbsp;&nbsp;歐元</option>
                                        <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                        <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                        <option value="">CAD&nbsp;&nbsp;加幣</option>
                                        <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                        <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                        <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                        <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                        <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                        <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                        <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                        <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                        <option value="">THB&nbsp;&nbsp;泰幣</option>
                                        <option value="">VND&nbsp;&nbsp;越南幣</option>
                                        <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                    </select>
                                    <input style="max-width:25%;" type="text" placeholder="金額" required="">
                                    </td>
                                </tr>
                            </table>
                            </td>
                            <td colspan="2">
                                <table style="width: 100%;">
                                    <tr>
                                        <td>
                                        <button class="btn btn-edit">刪除</button>
                                        <select style="min-width: 30%;" name="" id="">
                                            <option value="">Territory</option>
                                            <option value="">Interest Abroad</option>
                                            <option value="">Non-Interest Abroad</option>
                                        </select>
                                        <select style="min-width:20%;" style="min-width:20%;" name="" id="">
                                                <option value="">幣別</option>
                                        </select>
                                        <input style="max-width:25%;" type="text" placeholder="金額" required="">
                                        </td>
                                    </tr>
                                    <tr>
                                    <td>
                                    <button class="btn btn-edit">刪除</button>
                                    <select style="min-width: 30%;" name="" id="">
                                        <option value="">Territory</option>
                                        <option value="">Interest Abroad</option>
                                        <option value="">Non-Interest Abroad</option>
                                    </select>
                                    <select style="min-width:20%;" name="" id="">
                                        <option value="" selected="">幣別</option>
                                        <option value="">全部</option>
                                        <option value="">TWD&nbsp;&nbsp;台幣</option>
                                        <option value="">USD&nbsp;&nbsp;美金</option>
                                        <option value="">HKD&nbsp;&nbsp;港幣</option>
                                        <option value="">KRW&nbsp;&nbsp;韓幣</option>
                                        <option value="">SGD&nbsp;&nbsp;新加坡幣</option>
                                        <option value="">JPY&nbsp;&nbsp;日圓</option>
                                        <option value="">GBP&nbsp;&nbsp;英鎊</option>
                                        <option value="">EUR&nbsp;&nbsp;歐元</option>
                                        <option value="">CNY&nbsp;&nbsp;人民幣</option>
                                        <option value="">INR&nbsp;&nbsp;印度盧比</option>
                                        <option value="">CAD&nbsp;&nbsp;加幣</option>
                                        <option value="">CHF&nbsp;&nbsp;瑞士法郎</option>
                                        <option value="">AUD&nbsp;&nbsp;澳幣</option>
                                        <option value="">DKK&nbsp;&nbsp;丹麥幣</option>
                                        <option value="">IDR&nbsp;&nbsp;印尼幣</option>
                                        <option value="">MYR&nbsp;&nbsp;馬來幣</option>
                                        <option value="">NZD&nbsp;&nbsp;紐西蘭幣</option>
                                        <option value="">PHP&nbsp;&nbsp;菲律賓幣</option>
                                        <option value="">SEK&nbsp;&nbsp;瑞典幣</option>
                                        <option value="">THB&nbsp;&nbsp;泰幣</option>
                                        <option value="">VND&nbsp;&nbsp;越南幣</option>
                                        <option value="">ZAR&nbsp;&nbsp;南非幣</option>
                                    </select>
                                    <input style="max-width:25%;" type="text" placeholder="金額" required="">
                                    </td>
                                </tr>
                                </table>
                            </td>
                        </tr>
                        <tr class="calculateBoxHead">
                            <td colspan="4">
                                <div class="tableAbuttom">
                                    <a href="#">
                                    <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px; margin-bottom: 5px;"></i>
                                </a> 
                                </div>
                                <div class="tableAbuttom">
                                Territory Code<br>區域代碼</div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <button class="btn btn-edit">刪除</button>
                                <select style="min-width: 30%;" name="" id="">
                                    <option value="">Territory</option>
                                    <option value="">Interest Abroad</option>
                                    <option value="">Non-Interest Abroad</option>
                                </select>
                                    <input style="max-width:50%;" type="text" placeholder="" required="">
                                    <a onclick="window.open('territoryCode.html', 'newwindow', config='height=900,width=1000,toolbar=no');">
                                        <i class="fas fa-folder-plus" style="font-size: 20px; margin-left: 5px; color:#5B5B5B;"></i>
                                    </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <button class="btn btn-edit">刪除</button>
                                <select style="min-width: 30%;" name="" id="">
                                    <option value="">Territory</option>
                                    <option value="">Interest Abroad</option>
                                    <option value="">Non-Interest Abroad</option>
                                </select>
                                    <input style="max-width:50%;" type="text" placeholder="" required="">
                                    <a onclick="window.open('territoryCode.html', 'newwindow', config='height=900,width=1000,toolbar=no');">
                                        <i class="fas fa-folder-plus" style="font-size: 20px; margin-left: 5px; color:#5B5B5B;"></i>
                                    </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
           
            </div>
    </div>
    <!-- content end  -->
    <!-- Modal區域選擇 -->
    <div class="modal fade" id="exampleModalone" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">
                  請輸入需新增之層數
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="row-group">
                <div class="row">
                    <div class="input-title col-4 col-border justify-content-end">Section</div>
                    <div class="col-8 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-4 col-border justify-content-end">Type</div>
                    <div class="col-8 col-border">
                        <select name="" id="">
                            <option value="">Quota Share</option>
                            <option value="">Surplus</option>
                        </select>
                    </div>
                </div>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">確認</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
    </div>


</body>


</html>