<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>


    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">分進合約作業</a> &gt; <a>比例合約</a>
            </div>
            <div class="big_title title s1">比例合約</div>
            <div class="item_title title s2">各項佣金</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Reinsurance Commission<br>再保佣金</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">Flat 固定</option>
                            <option value="">Sliding Scale 梯次</option>
                            <option value="">Actual Payment 實付攤收</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Profit Commission<br>盈餘佣金</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">Flat 固定</option>
                            <option value="">Sliding Scale 梯次</option>
                            <option value="">Actual Payment 實付攤收</option>
                            <option value="">None 無</option>
                        </select>
                    </div> 
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Overriding Commission<br>轉再保手續費</div>
                    <div class="col-4 col-border">
                        <select style="min-width: 39%;" name="" id="">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                        <!-- 選擇Ｙ時input再出現 -->
                        <input style="max-width: 39%;" type="text" placeholder="0.00%" required>
                    </div>
                    <div class="input-title col-2 col-border">Overriding Profit Commision<br>轉再保盈餘佣金</div>
                    <div class="col-4 col-border">
                        <select style="min-width: 39%;" name="" id="">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                        <!-- 選擇Ｙ時input再出現 -->
                        <input style="max-width: 39%;" type="text" placeholder="0.00%" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Handing Fee<br>手續費</div>
                    <div class="col-4 col-border">
                        <select style="min-width: 39%;" name="" id="">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                        <!-- 選擇Ｙ時input再出現 -->
                        <input style="max-width: 39%;" type="text" placeholder="0.00%" required>
                    </div>
                    <div class="input-title col-2 col-border">Management Expenses<br>管理費用</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="0.00%" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Brokerage<br>經紀人佣金</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="0.00%" required>
                    </div>
                </div>
                <button class="btn btn-primary">修改</button>
                <button class="btn btn-primary">儲存</button>
                <button class="btn btn-primary">離開</button>
            </div>
            <!-- table1 -->
            <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
                <div class="filterBar">
                    <div class="row-group">
                        <div class="row">
                            <div class="col-2">
                                <a href="#" id="" class="pages_icon to_left">⊻</a>
                                <a href="#" id="" class="pages_icon">＜</a>
                                <a href="#" id="" class="pages_icon">＞</a>
                                <a href="#" id="" class="pages_icon to_right">⊼</a>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>
                            </div>
                            <div class="col-2">
                                <span id="" class="">每頁</span>
                                <select name="" id="" style="min-width: 40px;">
                                    <option value="">10</option>
                                    <option value="">50</option>
                                    <option value="">100</option>
                                    <option value="">200</option>
                                </select>
                                <span id="" class="">筆</span>
                                <button class="btn btn-primary">確認</button>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">1</span>
                                <span id="" class="">頁</span>
                            </div>
                            <div class="col-3">
                                <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" id="" class="" style="width:32px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-primary">確認</button>
                                <!-- <button class="btn btn-primary">暫存</button> -->
                            </div>
                        </div>
                    </div>
                    
                </div>
                <table class="tblCssDataGrid css_table">
                    <tbody>
                        <tr class="cssDataGridHeader">
                        <th>
                            <span class="checkbox_box">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1"></label>
                            </span>
                        </th>
                        <th><a href="">Section</a></th>
                        <th><a href="">R/I Comm</a></th>
                    </tr>
                    <tr>
                        <td>
                            <span class="checkbox_box">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1"></label>
                            </span>
                        </td>
                        <td>
                            <input type="text" placeholder="" required>
                        </td>
                        <td>
                            <input type="text" placeholder="" required>
                        </td>
                    </tr>
                </tbody>
                </table>
                <button class="btn btn-primary">修改</button>
                <button class="btn btn-primary">刪除</button>
                <button class="btn btn-primary">取消</button>
                <button class="btn btn-primary">儲存</button>
            </div>

            <!-- table2 -->
            <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
                <div class="filterBar">
                    <div class="row-group">
                        <div class="row">
                            <div class="col-2">
                                <a href="#" id="" class="pages_icon to_left">⊻</a>
                                <a href="#" id="" class="pages_icon">＜</a>
                                <a href="#" id="" class="pages_icon">＞</a>
                                <a href="#" id="" class="pages_icon to_right">⊼</a>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>
                            </div>
                            <div class="col-2">
                                <span id="" class="">每頁</span>
                                <select name="" id="" style="min-width: 40px;">
                                    <option value="">10</option>
                                    <option value="">50</option>
                                    <option value="">100</option>
                                    <option value="">200</option>
                                </select>
                                <span id="" class="">筆</span>
                                <button class="btn btn-primary">確認</button>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">1</span>
                                <span id="" class="">頁</span>
                            </div>
                            <div class="col-3">
                                <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" id="" class="" style="width:32px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-primary">確認</button>
                                <!-- <button class="btn btn-primary">暫存</button> -->
                            </div>
                        </div>
                    </div>
                    
                </div>
                <table class="tblCssDataGrid css_table">
                    <tbody>
                        <tr class="cssDataGridHeader">
                        <th><a href="">Loss Ratio<br>損失率</a></th>
                        <th><a href="">R/I Comm<br>佣金率</a></th>
                    </tr>
                    <!-- 此行固定不動 -->
                    <tr>
                        <td>
                            Provisional Comm暫定佣金
                        </td>
                        <td>
                            <input type="text" placeholder="0.00%" required>
                        </td>
                    </tr>
                    <!-- 此行不可移動 -->
                    <tr>
                        <td style="background-color:#FFFFDF;">
                        <input type="text" placeholder="0.00%" required>and less
                        </td>
                        <td style="background-color:#FFFFDF;">
                            <input type="text" placeholder="0.00%" required>
                        </td>
                    </tr>
                     <!-- 此行可增加 -->
                    <tr> 
                        <td>
                            <!-- 按下後增加一行tr -->
                            <a href="#">
                                <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i>
                            </a>
                            <input style="max-width: 38%;" type="text" placeholder="%" required>
                            ～
                            <input style="max-width: 38%;" type="text" placeholder="%" required>
                        </td>
                        <td>
                            <input type="text" placeholder="%" required>
                        </td>
                    </tr>
                     <!-- 此行不可移動 -->
                    <tr>
                        <td style="background-color:#FFFFDF;">
                            <input type="text" placeholder="0.00%" required>and more
                        </td>
                        <td style="background-color:#FFFFDF;">
                                <input type="text" placeholder="0.00%" required>
                        </td>
                    </tr>
                </tbody>
                </table>
                <button class="btn btn-primary">修改</button>
                <button class="btn btn-primary">刪除</button>
                <button class="btn btn-primary">取消</button>
                <button class="btn btn-primary">儲存</button>
                <button class="btn btn-primary">匯出</button>
                <button class="btn btn-primary">匯入</button>
            </div>

            <!-- table3 -->
            <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
                <div class="filterBar">
                    <div class="row-group">
                        <div class="row">
                            <div class="col-2">
                                <a href="#" id="" class="pages_icon to_left">⊻</a>
                                <a href="#" id="" class="pages_icon">＜</a>
                                <a href="#" id="" class="pages_icon">＞</a>
                                <a href="#" id="" class="pages_icon to_right">⊼</a>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>
                            </div>
                            <div class="col-2">
                                <span id="" class="">每頁</span>
                                <select name="" id="" style="min-width: 40px;">
                                    <option value="">10</option>
                                    <option value="">50</option>
                                    <option value="">100</option>
                                    <option value="">200</option>
                                </select>
                                <span id="" class="">筆</span>
                                <button class="btn btn-primary">確認</button>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">1</span>
                                <span id="" class="">頁</span>
                            </div>
                            <div class="col-3">
                                <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" id="" class="" style="width:32px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-primary">確認</button>
                                <!-- <button class="btn btn-primary">暫存</button> -->
                            </div>
                        </div>
                    </div>
                    
                </div>
                <table class="tblCssDataGrid css_table">
                    <tbody>
                        <tr class="cssDataGridHeader">
                        <th><a href="">Profit/Loss Ratio<br>盈餘/損失率</a></th>
                        <th><a href="">Profit Comm<br>盈餘佣金</a></th>
                    </tr>
                      <!-- 此行不可移動 -->
                    <tr>
                        <td style="background-color:#FFFFDF;">
                        <input type="text" placeholder="0.00%" required>and less
                        </td>
                        <td style="background-color:#FFFFDF;">
                            <input type="text" placeholder="0.00%" required>
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            <a href="#">
                                <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i>
                            </a>
                            <input style="max-width: 38%;" type="text" placeholder="%" required>
                            ～
                            <input style="max-width: 38%;" type="text" placeholder="%" required>
                        </td>
                        <td>
                            <input type="text" placeholder="%" required>
                        </td>
                    </tr>
                    <tr> 
                        <td>
                            <input style="max-width: 38%;" type="text" placeholder="%" required>
                            ～
                            <input style="max-width: 38%;" type="text" placeholder="%" required>
                        </td>
                        <td>
                            <input type="text" placeholder="%" required>
                        </td>
                    </tr>
                     <!-- 此行不可移動 -->
                    <tr>
                        <td style="background-color:#FFFFDF;">
                            <input type="text" placeholder="0.00%" required>and more
                        </td>
                        <td style="background-color:#FFFFDF;">
                                <input type="text" placeholder="0.00%" required>
                        </td>
                    </tr>
                </tbody>
                </table>
                <button class="btn btn-primary">修改</button>
                <button class="btn btn-primary">刪除</button>
                <button class="btn btn-primary">取消</button>
                <button class="btn btn-primary">儲存</button>
                <button class="btn btn-primary">匯出</button>
                <button class="btn btn-primary">匯入</button>
            </div>
    </div>
    <!-- content end  -->


</body>


</html>