<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">合約作業</a>
            </div>
            <div class="big_title title s1">合約作業</div>
            <div class="col-12">
                <!-- <button class="btn btn-edit" onclick="location.href='RF002_A.html'">
                    比例合約
                </button>
                <button class="btn btn-edit" onclick="location.href='RF004_A.html'">
                    非比例合約
                </button>
                <button class="btn btn-edit" onclick="location.href='RF003.html'">
                    代表號EPI
                </button>
                <button class="btn btn-edit" onclick="location.href='RF001_A.html'">
                    合約查詢與列印
                </button> -->
            </div>
            <div class="item_title title s2">代表號EPI</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Representative Treaty Code<br>代表號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">EPI (Our Share) (Net)<br>預估再保費</div>
                    <div class="col-4 col-border">
                        <select style="min-width: 30%;" name="" id="">
                            <option value="1">USD</option>
                            <option value="2">TWD</option>
                            <option value="3">CNY</option>
                        </select>
                        <input style="max-width: 50%;"  type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Resvised EPI (Our Share) (Net)<br>修正後預估再保費</div>
                    <div class="col-4 col-border">
                        <select style="min-width: 30%;" name="" id="">
                            <option value="1">USD</option>
                            <option value="2">TWD</option>
                            <option value="3">CNY</option>
                        </select>
                        <input style="max-width: 50%;"  type="text" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary">新增</button>
                    <button class="btn btn-primary">查詢</button>
                    <button class="btn btn-primary">整批複製</button>
                    <button class="btn btn-primary">修改</button>
                    <button class="btn btn-primary">儲存</button>
                    <button class="btn btn-primary">匯出</button>
                </div>
            </div>
            <!-- TABLE 報表格式選預估再保及成分(依公司)會出現 -->
            
            <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
            <div class="filterBar">
                <div class="row-group">
                    <div class="row">
                        <div class="col-2">
                            <a href="#" id="" class="pages_icon to_left">⊻</a>
                            <a href="#" id="" class="pages_icon">＜</a>
                            <a href="#" id="" class="pages_icon">＞</a>
                            <a href="#" id="" class="pages_icon to_right">⊼</a>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">0</span>
                            <span id="" class="">筆</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">每頁</span>
                            <select name="" id="" style="min-width: 40px;">
                                <option value="">10</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">200</option>
                            </select>
                            <span id="" class="">筆</span>
                            <button class="btn btn-primary">確認</button>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">1</span>
                            <span id="" class="">頁</span>
                        </div>
                        <div class="col-3">
                            <span id="" class="">目前第</span>
                            <input name="" type="text" value="1" id="" class="" style="width:32px;">
                            <span id="" class="">頁</span>
                            <button class="btn btn-primary">確認</button>
                            <!-- <button class="btn btn-primary">暫存</button> -->
                        </div>
                    </div>
                </div>
                
            </div>
            <table class="tblCssDataGrid css_table">
                <tbody><tr class="cssDataGridHeader">
                    <th style="width: 50px;">
                        <span class="checkbox_box">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1"></label>
                        </span>
                    </th>
                    <th><a href="">Representative Treaty Code<br>代表號</a></th>
                    <th><a href="">U/W Year<br>承保年度</a></th>
                    <th><a href="">EPI (Our Share) (Net)<br>預估再保費</a></th>
                    <th><a href="">Revised EPI (Our Share) (Net)<br>修正後預估再保費</a></th>
                </tr>
                <tr>
                    <td>
                        <span class="checkbox_box">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1"></label>
                        </span>
                    </td>
                    <td>1234567</td>
                    <td></td>
                    <td>1234567</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
            </div>
            <!-- TABLE結束 -->
            
            
    </div><!-- content end  -->
</section>

</body>


</html>