<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">

<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">合約作業</a>
            </div>
            <div class="big_title title s1">合約作業</div>
            <div class="col-12">
            <div class="item_title title s2">合約查詢與列印</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Company/Broker Code<br>再保人代碼</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*Type Code<br>合約型態</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">必填</option>
                            <option value="">全部</option>
                            <option value="">比例</option>
                            <option value="">非比例</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">國內/國外</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1">國內</option>
                            <option value="2">國外</option>
                            <option value="3">全部</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Business Code<br>預算險別代號</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1">全部</option>
                            <option value="2">航空保險</option>
                            <option value="3">汽車保險</option>
                            <option value="3">工程保險</option>
                            <option value="3">火險</option>
                            <option value="3">一般責任保險</option>
                            <option value="3">傷害保險</option>
                            <option value="3">海上保險</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Status<br>狀態</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1">必填</option>
                            <option value="2">有效</option>
                            <option value="3">無效</option>
                            <option value="4">全部</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Accounting Code<br>會計險別代號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Actuarial Code<br>精算損益險別代號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">U/W Year<br>承保年度</div>
                    <div class="col-4 col-border">
                        <input style="max-width:39%;" type="text" placeholder="YYYY" required>
                        ～
                        <input style="max-width:39%;" type="text" placeholder="YYYY" required>
                    </div>
                    <div class="input-title col-2 col-border">Territory Code<br>區域代碼</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">General Treaty EPI<br>代表號預估再保費</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">Report Format<br>報表格式</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1">必填</option>
                            <option value="2">預估再保費及成分 (依公司排序)</option>
                            <option value="3">預估再保費及成分 (依合約排序)</option>
                            <option value="4">合約內容細項</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary">查詢</button>
                    <button class="btn btn-primary">匯出</button>
                    <button class="btn btn-edit">整批複製</button>
                </div>
            </div>
            <!-- TABLE 報表格式選預估再保及成分(依公司)會出現 -->
            
            <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px;">
            <div class="item_title title s2" style="background-color: #b4dae8; color: #fff;">預估再保費及成分 (依公司排序)
            </div>
            <div class="filterBar">
                <div class="row-group">
                    <div class="row">
                        <div class="col-2">
                            <a href="#" id="" class="pages_icon to_left">⊻</a>
                            <a href="#" id="" class="pages_icon">＜</a>
                            <a href="#" id="" class="pages_icon">＞</a>
                            <a href="#" id="" class="pages_icon to_right">⊼</a>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">0</span>
                            <span id="" class="">筆</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">每頁</span>
                            <select name="" id="" style="min-width: 40px;">
                                <option value="">10</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">200</option>
                            </select>
                            <span id="" class="">筆</span>
                            <button class="btn btn-primary">確認</button>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">1</span>
                            <span id="" class="">頁</span>
                        </div>
                        <div class="col-3">
                            <span id="" class="">目前第</span>
                            <input name="" type="text" value="1" id="" class="" style="width:32px;">
                            <span id="" class="">頁</span>
                            <button class="btn btn-primary">確認</button>
                            <!-- <button class="btn btn-primary">暫存</button> -->
                        </div>
                    </div>
                </div>
                
            </div>
            <table class="tblCssDataGrid css_table">
                <tbody><tr class="cssDataGridHeader">
                    <th style="width: 4%;">
                        <span class="checkbox_box">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1"></label>
                        </span>
                    </th>
                    <th style="width: 10%;"><a href="">Company Code<br>分保公司代碼</a></th>
                    <th style="width: 13%;"><a href="">Company Name<br>分保公司名稱</a></th>
                    <th style="width: 10%;"><a href="">Broker Code<br>經紀人代碼</a></th>
                    <th style="width: 10%;"><a href="">Broker Name<br>經紀人名稱</a></th>
                    <th style="width: 10%;"><a href="">Treaty Code<br>合約卷號</a></th>
                    <th style="width: 10%;"><a href="">Type Code<br>合約型態</a></th>
                    <th style="width: 6%;"><a href="">U/W Year<br>承保年度</a></th>
                    <th style="width: 10%;"><a href="">EPI/GNPI<br>預估再保費</a></th>
                    <th style="width: 10%;"><a href="">Revised EPI/GNPI<br>修正後預估再保費</a></th>
                    <th style="width: 7%;"><a href="">Our Share (%)<br>分入成分</a></th>
                </tr>
                <tr>
                    <td>
                        <span class="checkbox_box">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1"></label>
                        </span>
                    </td>
                    <td>1234567</td>
                    <td></td>
                    <td>1234567</td>
                    <td></td>
                    <td>12345678901</td>
                    <td>1234</td>
                    <td></td>
                    <td></td>
                    <td>12345678</td>
                </tr>
            </tbody>
        </table>
              </div>
            <!-- TABLE結束 -->
            
            
    </div><!-- content end  -->
</section>

</body>


</html>