<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">帳單作業</a>
            </div>
            <!-- A(3)Period的勾選結果 -->
            <div class="big_title title s1">帳單作業</div>
            <div class="col-12">
                <button class="btn btn-edit" onclick="location.href='RF007_A(3).html'">
                    帳單登錄與維護
                </button>
                <button class="btn btn-edit" onclick="location.href='FRIF007.html'">
                    帳單傳送
                </button>
            </div>
            <div class="row-group">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary">匯入</button>
                    </div>
                </div>
            </div>
            <div class="item_title title s2">臨時檔登錄</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">General<br>一般</div>
                    <div class="col-4 col-border">
                        <select style="min-width: 40%;" name="" id="">
                            <option value="1">1st Quarter</option>
                            <option value="2">2nd Quarter</option>
                            <option value="3">3rd Quarter</option>
                            <option value="4">4rd Quarter</option>
                            <option value="5">1st Half Year</option>
                            <option value="6">2nd Half Year</option>
                            <option value="7">Year</option>
                            <option value="8">Other</option>
                        </select>
                        <input style="min-width: 30%;" type="text" placeholder="YYYY/MM/DD" required>
                        ～
                        <input style="min-width: 30%;" type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                    <div class="input-title col-2 col-border">*Loss Participation<br>損失分攤</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY" required>
                    </div>
                </div>
            
                <div class="row">
                    <div class="input-title col-2 col-border">*Profit Commission<br>盈餘佣金</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY" required>
                    </div>
                    <div class="input-title col-2 col-border">*Commutation/Cut-Off<br>折償/結清</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Cash Call/Date of Loss<br>現金攤賠／出險日</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                    <div class="input-title col-2 col-border">*Letter of Credit (LOC)<br>信用狀</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Portfolio Transfer<br>責任移轉</div>
                    <div class="col-4 col-border">
                        <select style="min-width: 30%;" name="" id="">
                            <option value="1">Out/Withdrawal</option>
                            <option value="2">In/Entry</option>
                        </select>
                        <input style="min-width: 40%;" type="text" placeholder="YYYY" required>
                        
                    </div>
                    <div class="input-title col-2 col-border">*Outstanding Claim Advance (OCA)<br>未決賠款預付款</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY/MM/DD" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*Commission Adjustment<br>梯次佣金調整</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY" required>
                    </div>
                    <div class="input-title col-2 col-border">Account Type<br>帳單類型</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="">一般 General</option>
                            <option value="">補充 Supplementary</option>
                            <option value="">調整 Adjustment</option>
                        </select>
                    </div>
                </div>

            </div>
            <!-- A區 end -->
            <!-- b區 A區選項選填一個後才出現 -->
            <div style="border: 1px solid #ccc; padding: 3px;">
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">Treaty Code<br>合約卷號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Entry Date<br>日期</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="系統帶入當日" required>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Our Statement No<br>帳單編號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">U/W Year<br>核保年度</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="YYYY" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Original Statement No<br>帳單號碼</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Input Share<br>分入比例</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Currency<br>幣別</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">Our Retent<br>自留額</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                  
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">Risk Code<br>標的風險所在地</div>
                    <div class="col-10 col-border">
                        <select style="min-width: 10%;" name="" id="">
                            <option value="">代碼</option>
                            <option value="">代碼</option>
                            <option value="">代碼</option>
                            <option value="">代碼</option>
                            <option value="">代碼</option>
                        </select>
                        <a href="#">
                            <i class="fas fa-plus-square" style="font-size: 18px; margin-left: 5px;"></i>
                        </a>
                    </div>
                </div>
            </div>
            </div>
            <!-- b區 end -->
            <div style="border: 1px solid #EAA97E; padding: 3px; margin-top:15px ;">
                <div class="row-group form-row-group">
                    <div class="row">
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-plus picWord"></i>
                            Balance (100% Share)<br>餘額 (100% Share)</div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="自動帶入" required>
                        </div>
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-plus picWord"></i>
                            Balance (Input Share)<br>餘額 (Input Share)
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="自動帶入" required>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- c區 A區選項選填一個後才出現 -->
            <div style="border: 1px solid #ccc; padding: 3px; margin-top:15px ;">
            <div class="row-group form-row-group">
                <div>
                    <div class="row">
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-plus picWord"></i>
                            Premium<br>保費
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#0088A8"></i>
                            Adjust Commission<br>梯次佣金費用調整
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#FF8888"></i>
                            Commission, Deduction<br>佣金費用，折扣
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#0088A8"></i>
                            Profit Commission<br>盈餘佣金費用
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#FF8888"></i>
                            Overriding Commission<br>轉再保手續費
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#0088A8"></i>
                            Handling Fee<br>手續費用
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#FF8888"></i>
                            Brokerage<br>經紀人佣金
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#0088A8"></i>
                            Tax (F.E.T.)<br>稅捐
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#FF8888"></i>
                            Loss Paid/Loss Recovery<br>賠款
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                        <div class="input-title col-2 col-border">
                            <i class="fas fa-minus picWord" style="color:#0088A8"></i>
                            Interest Tax<br>利息所得稅
                        </div>
                        <div class="col-4 col-border">
                            <input type="text" placeholder="" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#55AA00"></i>
                        Premium Reserve Deposit<br>保費準備提存
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#0088A8"></i>
                        Other Charge<br>其他費用
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#55AA00"></i>
                        Premium Reserve Release<br>保費準備收回
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#FFAA33"></i>
                        Loss Expense/LAE<br>理賠費用
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#55AA00"></i>
                        Premium Portfolio In<br>保費責任金轉進
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#FFAA33"></i>
                        Claim Reserve Deposit<br>未決賠款準備提存
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#55AA00"></i>
                        Premium Portfolio Out<br>保費責任金轉出
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#FFAA33"></i>
                        Claim Reserve Release<br>未決賠款準備收回
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#55AA00"></i>
                        Interest<br>利息
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#FFAA33"></i>
                        Loss Portfolio In<br>賠款責任金轉進
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#55AA00"></i>
                        Minimum & Deposit Premium<br>最低預付保費
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#FFAA33"></i>
                        Loss Portfolio Out<br>賠款責任金轉出
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#55AA00"></i>
                        Adjust Premium<br>調整保費
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#FFAA33"></i>
                        Cash Call (Refund)<br>現金賠款
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#55AA00"></i>
                        Reinstate Premium<br>復效保費
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#FFAA33"></i>
                        LOC/OCA<br>信用狀/未決賠款預付款
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-minus picWord" style="color:#55AA00"></i>
                        XL Protection Premium<br>超賠保障保費
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">
                        <i class="fas fa-plus picWord" style="color:#FFAA33"></i>
                        Loss Recovery from XL<br>超賠賠款攤回
                    </div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
            </div>
        </div>
            <!-- c區 end -->
            <div class="row-group">
                <div class="row">
                    <div class="col-12 d-flex">
                        <button class="btn btn-primary">儲存</button>
                        <button class="btn btn-primary">取消</button>
                    </div>
                </div> 
            </div>
           
            
    </div><!-- content end  -->
</section>

</body>


</html>