<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>兆豐</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <div class="ajax-aside-nav"></div>
<section>
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">分進合約作業</a> &gt; <a>公司資料維護檔</a>
            </div>
            <div class="big_title title s1">公司資料維護檔</div>
            
            <div class="item_title title s2">國外部權限</div>
            <button class="btn btn-primary">儲存</button>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">*再保人代號：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*收付代碼：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">保發中心代碼：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">英文縮寫</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*英文簡稱</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*英文全名</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">中文簡稱</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">中文全名</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">負責人</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*國內/外</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1">國內</option>
                            <option value="2">國外</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*統一編號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*國別</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1">國別</option>
                            <option value="2">國別</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*大陸地區</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="1">國別</option>
                            <option value="2">國別</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">*輸入日期</div>
                    <div class="col-4 col-border">
                        20201010
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*保經代碼 </div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="0">再保人</option>
                            <option value="1">經紀人</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">*國外部創建人代號</div>
                    <div class="col-4 col-border">
                        代號
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*聯絡窗口</div>
                    <div class="col-10 offset-2 col-border">
                        <table class="tblCssDataGrid table_style2">
                            <tbody>
                                <tr class="cssDataGridHeader">
                                    <th>功能</th>
                                    <th><a href="">Name</a></th>
                                    <th><a href="">E-mail</a></th>
                                    <th><a href="">Tel</a></th>
                                    <th><a href="">Direct</a></th>
                                    <th><a href="">Address</a></th>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-edit">新增</button>
                                        <button class="btn btn-edit">匯出</button>
                                    </td>
                                    <td>王小小</td>
                                    <td>wang.smile@yahoo.com.tw</td>
                                    <td>0988555214</td>
                                    <td>經理</td>
                                    <td>123新北市五股區忠孝接50巷19弄20號</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">適格性(單筆勾選)：</div>
                    <div class="col-4 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_1" type="radio" name="radio01" value="1" checked>
                            <label for="radio01_1">適格</label>
                        </span>
                        <span class="checkbox_box">
                            <input id="radio01_2" type="radio" name="radio01" value="2">
                            <label for="radio01_2">未適格</label>
                        </span>
                    </div>
                    <div class="input-title col-2 col-border">業務(多筆勾選)：</div>
                    <div class="col-4 col-border">
                        <span class="checkbox_box ml-2">
                            <input id="check1" type="checkbox" name="check">
                            <label for="check1">直接</label>
                        </span>
                        <span class="checkbox_box ml-2">
                            <input id="check2" type="checkbox" name="check">
                            <label for="check2">間接</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">狀態(單筆勾選)：</div>
                    <div class="col-4 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_1" type="radio" name="radio01" value="1" checked>
                            <label for="radio01_1">使用中</label>
                        </span>
                        <span class="checkbox_box">
                            <input id="radio01_2" type="radio" name="radio01" value="2">
                            <label for="radio01_2">暫停使用中</label>
                        </span>
                        <span class="checkbox_box">
                            <input id="radio01_3" type="radio" name="radio01" value="3">
                            <label for="radio01_3">已停用</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">信評機構（下拉式選單）：</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="0">A. S&P</option>
                            <option value="1">B. AM Best</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">信評等級（下拉式選單）：</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="0">AAA</option>
                            <option value="1">AA+</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">信評備註</div>
                        <div class="col-4 col-border">
                            <textarea style="width: 100%; height: 20px; border: 1px solid #ccc; background-color: white;">
信評備註
                                </textarea>
                        </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">行業別：</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="0"></option>
                            <option value="1"></option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">*歸戶：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">*歸戶後保發代碼：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*歸戶後行業別：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">異動資料：</div>
                    <div class="col-10 offset-2 col-border">
                        <table class="tblCssDataGrid table_style2">
                            <tbody>
                                <tr class="cssDataGridHeader">
                                    <th>功能</th>
                                    <th><a href="">異動代號</a></th>
                                    <th><a href="">登入人員代號</a></th>
                                    <th><a href="">異動日期</a></th>
                                    <th><a href="">異動內容</a></th>
                                    <th><a href="">異動註記資料</a></th>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-edit">新增</button>
                                        <button class="btn btn-edit">匯出</button>
                                    </td>
                                    <td>
                                        <select name="" id="">
                                            <option value="1">新增</option>
                                            <option value="2">修改</option>
                                            <option value="3">刪除</option>
                                        </select>
                                    </td>
                                    <td>wang.smile@yahoo.com.tw</td>
                                    <td>0988555214</td>
                                    <td>
                                        <textarea style="width: 100%; min-height: 20px; height: 20px; border: 1px solid #ccc; background-color: white;">信評備註</textarea>
                                    </td>
                                    <td>123新北市五股區忠孝接50巷19弄20號</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
            </div>

            
            <div class="item_title title s2">財管部權限</div>
            <button class="btn btn-primary">儲存</button>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">匯款戶名：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">匯款帳號-NT：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">匯款帳號-外幣：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">聯絡窗口：</div>
                    <div class="col-10 offset-2 col-border">
                        <table class="tblCssDataGrid table_style2">
                            <tbody>
                                <tr class="cssDataGridHeader">
                                    <th>功能</th>
                                    <th><a href="">Name</a></th>
                                    <th><a href="">E-mail</a></th>
                                    <th><a href="">Tel</a></th>
                                    <th><a href="">Direct</a></th>
                                    <th><a href="">Address</a></th>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-edit">新增</button>
                                        <button class="btn btn-edit">匯出</button>
                                    </td>
                                    <td>王小小</td>
                                    <td>wang.smile@yahoo.com.tw</td>
                                    <td>0988555214</td>
                                    <td>經理</td>
                                    <td>123新北市五股區忠孝接50巷19弄20號</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">創建人代號：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">備註：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">催收比例設定：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">備呆比例設定：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
            </div>
           
                </div>
            </div>
        </div>
    </div><!-- content end  -->
</section>

</body>


</html>