<!DOCTYPE html>
<html>
<!--TODO 畫面checkbox由uiux改style-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>理賠應攤回-查詢</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
</head>

<body>
    <!-- <div class="ajax-aside-nav"></div> -->
    <section class="pl-0">
        <div class="ajax-section-main"></div>
        <div class="container-fluid content">

            <div class="bread-crumbs">
                <a href="#">帳單作業</a> &gt; <a href="#">理賠應攤回作業</a> &gt; <a>理賠應攤回-查詢</a>
            </div>
            <div class="big_title title s1">理賠應攤回作業</div>

            <div class="item_title title s2">RAIF011理賠應攤回查詢</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">處理單位</div>
                    <div class="col-4 col-border">
                        <select>
                            <option value="">全部</option>
                            <option value="">火險部</option>
                            <option value="">海上保險部 </option>
                            <option value="">意外險部</option>
                            <option value="">傷害險</option>
                            <option value="">車險部 </option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">險種</div>
                    <div class="col-4 col-border">
                        <select>
                            <option value="">全部</option>
                            <option value="">火險</option>
                            <option value="">海上保險 </option>
                            <option value="">意外險</option>
                            <option value="">工程險</option>
                            <option value="">傷害險</option>
                            <option value="">車險</option>
                        </select>
                        <!--    <select>
                            <option value="">全部</option>
                            <option value=""></option>
                            <option value="">全部</option>
                            <option value="">船舶險(含漁船險)</option>
                            <option value="">貨物運輸險</option>
                            <option value="">航空險</option>
                            <option value=""></option>
                            <option value="">全部</option>
                            <option value="">意外險</option>
                            <option value="">工程險</option>
                            <option value=""></option>
                            <option value="">全部</option>
                            <option value=""></option>
                            <option value="">全部</option>
                            <option value="">車險</option>
                            <option value="">汽車延長保固險</option>
                        </select>-->
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">轉檔日檔</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required></input> &nbsp; &nbsp; ~ &nbsp; &nbsp;<input
                            type="text" placeholder="" required></input>&nbsp; &nbsp;(YYYYMMDD)<br>&nbsp; &nbsp;<button
                            class="btn btn-secondary">9M</button>&nbsp; &nbsp;<button
                            class="btn btn-secondary">2Y</button>
                    </div>
                    <div class="input-title col-2 col-border">幣別</div>
                    <div class="col-4 col-border">
                        <select>
                            <option value="">全部</option>
                            <option value="">TWD-台幣</option>
                            <option value="">USD-美元</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">賠案號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required></input>
                    </div>
                    <div class="input-title col-2 col-border">再保人</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required></input>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">銷帳狀態</div>
                    <div class="col-4 col-border">
                        <select>
                            <option value="">全部</option>
                            <option value="">已銷</option>
                            <option value="">未銷 </option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">現金攤賠註記</div>
                    <div class="col-4 col-border">
                        <span class="checkbox_box">
                            <input id="check1" type="checkbox" name="check" value="1" checked>
                            <label for="check1"></label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">狀態</div>
                    <div class="col-4 col-border">
                        <select>
                            <option value="">全部</option>
                            <option value="">1-待收件</option>
                            <option value="">2-已收件待審核</option>
                            <option value="">3-待過帳</option>
                            <option value="">4-已產傳票</option>
                            <option value="">5-刪除待過帳</option>
                            <option value="">6-已刪除</option>
                            <option value="">7-不處理</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">金額</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required></input>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">創建人代號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required></input>
                    </div>
                    <div class="input-title col-2 col-border">轉入批號</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>

                </div>
                <!--  <div class="row justify-content-center">
                   <button class="btn btn-secondary">查詢</button>
                </div>-->
            </div>
            <div class="row-group">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary">查詢</button>
                        <button class="btn btn-primary">確認</button>
                        <button class="btn btn-primary">覆核</button>
                        <!--<button class="btn btn-primary">列印帳單核對表</button>-->
                        <button class="btn btn-primary">退回</button>
                        <!--<button class="btn btn-primary">不處理</button>-->
                        <button class="btn btn-primary">編製傳票</button>
                        <button class="btn btn-primary">匯出EXCEL</button>
                    </div>
                </div>
            </div>
            <div class="x_scroll ">
                <div class="bread-crumbs">
                    勾選筆數：100筆 &nbsp; &nbsp; &nbsp; 台幣總金額：13,000,000元 &nbsp; &nbsp; &nbsp 外幣總金額：30,000.00元
                </div>
                <div class="filterBar">
                    <div class="row-group">
                        <div class="row">
                            <!-- <div class="col-1"><button class="btn btn-primary">新增項目</button></div> -->
                            <div class="col-2">
                                <a href="#" id="" class="pages_icon to_left">⊻</a>
                                <a href="#" id="" class="pages_icon">＜</a>
                                <a href="#" id="" class="pages_icon">＞</a>
                                <a href="#" id="" class="pages_icon to_right">⊼</a>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">0</span>
                                <span id="" class="">筆</span>
                            </div>
                            <div class="col-2">
                                <span id="" class="">每頁</span>
                                <select name="" id="" style="min-width: 40px;">
                                    <option value="">10</option>
                                    <option value="">50</option>
                                    <option value="">100</option>
                                    <option value="">200</option>
                                </select>
                                <span id="" class="">筆</span>
                                <button class="btn btn-primary">go</button>
                            </div>
                            <div class="col-2">
                                <span id="" class="">總共</span>
                                <span id="" class="">1</span>
                                <span id="" class="">頁</span>
                            </div>
                            <div class="col-3">
                                <span id="" class="">目前第</span>
                                <input name="" type="text" value="1" id="" class="" style="width:32px;">
                                <span id="" class="">頁</span>
                                <button class="btn btn-primary">go</button>
                                <!-- <button class="btn btn-primary">暫存</button> -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- table scroll-x -->

                <table class="tblCssDataGrid css_table">
                    <tbody>
                        <tr class="cssDataGridHeader">
                            <th style="text-align: center;" align="center">
                                <span class="checkbox_box">
                                    <input id="check1" type="checkbox" name="check" value="1">
                                    <label for="check1"></label>
                                </span>
                            </th>
                            <th><a href="">序號</a></th>
                            <th><a href="">key號</a></th>
                            <th><a href="">賠案號</a></th>
                            <th><a href="">保單號</a></th>
                            <!--<th><a href="">期別</a></th>-->
                            <th><a href="">理算簽立日</a></th>
                            <th><a href="">險種</a></th>
                            <th><a href="">險別</a></th>
                            <th><a href="">現金攤賠</a></th>
                            <!--<th><a href="">應攤回</a></th>
                        <th><a href="">會計期間</a></th>-->
                            <th><a href="">轉檔日</a></th>
                            <th><a href="">轉檔批號</a></th>
                            <th><a href="">幣別</a></th>
                            <!-- <th><a href="">再保科目</a></th> -->
                            <th><a href="">賠款原幣金額</a></th>
                            <th><a href="">賠款本位幣金額</a></th>
                            <th><a href="">賠付日期</a></th>
                            <th><a href="">賠付金額</a></th>
                            <th><a href="">NT號</a></th>
                            <th><a href="">狀態</a></th>
                            <th><a href="">訊息</a></th>
                        </tr>

                        <tr>
                            <td width="5%" align="center">
                                <span class="checkbox_box">
                                    <input id="" type="checkbox" name="check" value="1">
                                    <label for=""></label>
                                </span>

                            </td>
                            <td width="5%" align="center"><a href="RIAF002_nomenu_modify_by_posiden.html">1</a></td>
                            <td width="10%"><a href="RIAF002_nomenu_modify_by_posiden.html">60002</a></td>
                            <td width="8%"><a href="RIAF002_nomenu_modify_by_posiden.html">1507FAL038</a></td>
                            <td width="8%"><a href="RIAF002_nomenu_modify_by_posiden.html">1QCRA208Q08</a></td>
                            <!--<td width="5%" ><a href="RIAF002_nomenu_modify_by_posiden.html">1</a></td>-->
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">2020/10/28</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">火險</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">F71-地震商</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">N</a></td>
                            <!-- <td width="5%" ><a href="RIAF002_nomenu_modify_by_posiden.html">Y</a></td>
                            <td width="5%" ><a href="RIAF002_nomenu_modify_by_posiden.html">202008</a></td>-->
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">20200815</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">FI2020081500001</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">TWD</a></td>
                            <!-- <td width="5%" ><a href="RIAF002_nomenu_modify_by_posiden.html">01-RI-PREM</td> -->
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">220,167.00</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">220,167</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">2020/11/1</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">220,167.00</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">3243001</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">1-待收件</a></td>
                            <td width="5%"><a href="RIAF002_nomenu_modify_by_posiden.html">正常</a></td>
                        </tr>

                        <tr>
                            <td align="center">
                                <span class="checkbox_box">
                                    <input id="" type="checkbox" name="check" value="1">
                                    <label for=""></label>
                                </span>
                            </td>
                            <td>2</td>
                            <td>0801</td>
                            <td>YCRA808</td>
                            <td>08CRA</td>
                            <!--<td>1</td>-->
                            <td>Y12019</td>
                            <td>火險</td>
                            <td></td>
                            <td width="5%">N</td>
                            <!--<td width="5%" >N</td>
                        <td>201904</td>-->
                            <td>20190405</td>
                            <td>FI20190505000005</td>
                            <td>TWD</td>
                            <!-- <td></td>-->
                            <td>7,453,894.00</td>
                            <td>7,453,894</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>7-不處理</td>
                            <td>缺資料</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!-- content end  -->
    </section>

</body>


</html>