<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->
<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>理賠應攤回明細</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
     <!-- <div class="ajax-aside-nav"></div> -->
<section  class="pl-0">
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">帳單作業</a> &gt; <a href="#">理賠應攤回作業</a> &gt; <a>理賠應攤回明細</a>
            </div>
            <div class="big_title title s1">理賠應攤回作業</div>
            
            <div class="item_title title s2">RIAF012理賠應攤回資料</div>
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">key號</div>
                    <div class="col-4 col-border">
                        60002
                    </div>
                    <div class="input-title col-2 col-border">賠案號</div>
                    <div class="col-4 col-border">
                        1507FAL038
                    </div>
                    
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">保單號</div>
                    <div class="col-4 col-border">
                        1QCRA208Q08
                    </div>
                    <div class="input-title col-2 col-border">理算簽立日</div>
                    <div class="col-4 col-border">
                       2020/10/28
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">處理單位</div>
                    <div class="col-4 col-border">
                       火險部
                    </div>
                    <div class="input-title col-2 col-border">保單單位</div>
                    <div class="col-4 col-border">
                       火險部
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">險種</div>
                    <div class="col-4 col-border">
                       火險
                    </div>
                    <div class="input-title col-2 col-border">險別</div>
                    <div class="col-4 col-border">
                        F71-地震商
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">轉檔日</div>
                    <div class="col-4 col-border">
                        20200815
                    </div>
                    <div class="input-title col-2 col-border">轉檔批號</div>
                    <div class="col-4 col-border">
                        FI2020081500001
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">狀態</div>
                    <div class="col-4 col-border">
                       1-待收件
                    </div>
					<div class="input-title col-2 col-border">創建人代號</div>
                    <div class="col-4 col-border">
                        C20087
                    </div>
                </div>
                <div class="row">
				    <div class="input-title col-2 col-border">訊息</div>
                    <div class="col-10 col-border">
                       正常
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">幣別</div>
                    <div class="col-10 col-border">
                        TWD-台幣
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">原幣餘額</div>
                    <div class="col-4 col-border">
                        220,167.00
                    </div>
                    <div class="input-title col-2 col-border">本位幣餘額</div>
                    <div class="col-4 col-border">
                        220,167
                    </div>
                </div>
				<div class="row">
				    <div class="input-title col-2 col-border">賠付日期</div>
                    <div class="col-10 col-border">
                       2020/11/1
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">賠付金額</div>
                    <div class="col-10 col-border">
                        220,167.00
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">NT號</div>
                    <div class="col-10 col-border">
                        3243001
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">帳單項目</div>
                    <div class="col-10 offset-2 col-border">
                        <table class="tblCssDataGrid table_style2">
                            <tbody>
                                <tr class="cssDataGridHeader">
                                    <th>代碼</th>
                                    <th>資料項名稱</th>
                                    <th>加減項</th>
                                    <th>金額</th>
                                    <th><a href="">再保科目</a></th>
                                    <th><a href="">科目名稱</a></th>
                                </tr>
                                <tr>
                                    <td ALIGN="CENTER">
                                        0ˇ
                                    </td>
                                    <td>PAID-LOSSES</td>
                                    <td ALIGN="CENTER">+</td>
                                    <td ALIGN="RIGHT">220,167.00</td>
                                    <td>151110</td>
                                    <td>應攤回再保賠款</td>
                                </tr>
                                <!-- <tr>
                                    <td ALIGN="CENTER">
                                        03
                                    </td>
                                    <td>PAID-LOSSES</td>
                                    <td ALIGN="CENTER">-</td>
                                    <td ALIGN="RIGHT">382,584.00</td>
                                    <td>151110</td>
                                    <td>應攤回再保賠款</td>
                                </tr>
                                 <tr>
                                    <td ALIGN="CENTER">
                                        01
                                    </td>
                                    <td>RI-PREM</td>
                                    <td ALIGN="CENTER">+</td>
                                    <td ALIGN="RIGHT">19,512.00</td>
                                    <td>51101</td>
                                    <td>再保險費用</td>
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">再保人資料</div>
                    <div class="col-10 offset-2 col-border">
                        <table class="tblCssDataGrid table_style2">
                            <tbody>
                                <tr class="cssDataGridHeader">
                                    <th>再保險公司代碼</th>
                                    <th><a href="">再保人類型</a></th>
                                    <th><a href="">再保險經紀公司代碼</a></th>
                                    <th><a href="">承接比例</a></th>
                                    <!--<th><a href="">再保費用</a></th>-->
                                    <th><a href="">應攤回再保賠款</a></th>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        0062282
                                    </td>
                                    <td ALIGN="CENTER">0</td>
                                    <td></td>
                                    <td ALIGN="CENTER">50%</td>
                                    <!--<td ALIGN="RIGHT">9,756.00</td>-->
                                    <td ALIGN="RIGHT">110,083.00</td>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        5001500
                                    </td>
                                    <td ALIGN="CENTER">1</td>
                                    <td></td>
                                    <td ALIGN="CENTER">50%</td>
                                    <!--<td ALIGN="RIGHT">9,756.00</td>-->
                                    <td ALIGN="RIGHT">110,084.00</td>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        0044420
                                    </td>
                                    <td ALIGN="CENTER">0</td>
                                    <td>5001500</td>
                                    <td ALIGN="CENTER">25%</td>
                                    <!--<td ALIGN="RIGHT">4,878.00</td>-->
                                    <td ALIGN="RIGHT">55,042.00</td>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        0076690
                                    </td>
                                    <td ALIGN="CENTER">0</td>
                                    <td>5001500</td>
                                    <td ALIGN="CENTER">25%</td>
                                    <!--<td ALIGN="RIGHT">4,878.00</td>-->
                                    <td ALIGN="RIGHT">55,042.00</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
             <!--<div class="row-group">
                
                <div class="row">
                   <div class="input-title col-2 col-border">適格性(單筆勾選)：</div>
                    <div class="col-4 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_1" type="radio" name="radio01" value="1" checked>
                            <label for="radio01_1">適格</label>
                        </span>
                        <span class="checkbox_box">
                            <input id="radio01_2" type="radio" name="radio01" value="2">
                            <label for="radio01_2">未適格</label>
                        </span>
                    </div>
                    <div class="input-title col-2 col-border">業務(多筆勾選)：</div>
                    <div class="col-4 col-border">
                        <span class="checkbox_box ml-2">
                            <input id="check1" type="checkbox" name="check">
                            <label for="check1">直接</label>
                        </span>
                        <span class="checkbox_box ml-2">
                            <input id="check2" type="checkbox" name="check">
                            <label for="check2">間接</label>
                        </span>
                    </div>
                    <div class="input-title col-2 col-border">狀態(單筆勾選)：</div>
                    <div class="col-4 col-border">
                        <span class="checkbox_box">
                            <input id="radio01_1" type="radio" name="radio01" value="1" checked>
                            <label for="radio01_1">使用中</label>
                        </span>
                        <span class="checkbox_box">
                            <input id="radio01_2" type="radio" name="radio01" value="2">
                            <label for="radio01_2">暫停使用中</label>
                        </span>
                        <span class="checkbox_box">
                            <input id="radio01_3" type="radio" name="radio01" value="3">
                            <label for="radio01_3">已停用</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">信評機構（下拉式選單）：</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="0">A. S&P</option>
                            <option value="1">B. AM Best</option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">信評等級（下拉式選單）：</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="0">AAA</option>
                            <option value="1">AA+</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-title col-2 col-border">行業別：</div>
                    <div class="col-4 col-border">
                        <select name="" id="">
                            <option value="0"></option>
                            <option value="1"></option>
                        </select>
                    </div>
                    <div class="input-title col-2 col-border">*歸戶：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*歸戶後保發代碼：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">*歸戶後行業別：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
            </div>-->
            
            <!-- <div class="item_title title s2">匯款資訊</div>
            <div class="row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">匯款戶名：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">匯款帳號-NT：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">匯款帳號-外幣：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
            </div>
            <div class="row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">聯絡窗口：</div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-10 col-border">
                        <table class="tblCssDataGrid table_style2">
                            <tbody>
                                <tr class="cssDataGridHeader">
                                    <th>功能</th>
                                    <th><a href="">Name</a></th>
                                    <th><a href="">E-mail</a></th>
                                    <th><a href="">Tel</a></th>
                                    <th><a href="">Direct</a></th>
                                    <th><a href="">Address</a></th>
                                </tr>
                                <tr>
                                    <td>
                                        <button class="btn btn-edit">新增</button>
                                        <button class="btn btn-edit">匯出</button>
                                    </td>
                                    <td>王小小</td>
                                    <td>wang.smile@yahoo.com.tw</td>
                                    <td>0988555214</td>
                                    <td>經理</td>
                                    <td>123新北市五股區忠孝接50巷19弄20號</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row-group">
                <div class="row">
                    <div class="input-title col-2 col-border">創建人代號：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">備註：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">催收比例設定：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                    <div class="input-title col-2 col-border">備呆比例設定：</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required>
                    </div>
                </div>
            </div>-->
           
    </div><!-- content end  -->
</section>

</body>


</html>