<!DOCTYPE html>
<html>
<!--TODO 畫面checkbox由uiux改style-->
<head>
<meta charset="utf-8" lang="zh-Hant-TW">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
<title>各險總數資料(4509)上傳</title>
<!-- jQuery -->
<script src="../../shigen/plugin/jquery.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
<link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
<!-- fontawsome -->
<script defer src="../../shigen/fonts/js/all.min.js"></script>
<link href="../../shigen/fonts/css/all.css" rel="stylesheet">
<!--load all styles -->
<!-- 共用樣式 -->
<link rel="stylesheet" href="../../shigen/css/base.css">
<!-- menu 樣式 -->
<link rel="stylesheet" href="../../shigen/css/section_main_top.css">
<link rel="stylesheet" href="../../shigen/css/menu.css">
<!-- 主要樣式 -->
<link rel="stylesheet" href="../../shigen/css/type.css">

<!-- 自訂JS樣式 -->
<script src="../../shigen/js/global.js"></script>
</head>

<body>
    <!-- <div class="ajax-aside-nav"></div> -->
<section class="pl-0">
    <div class="ajax-section-main"></div>
    <div class="container-fluid content">
        
            <div class="bread-crumbs">
                <a href="#">關帳作業</a> &gt; <a href="#">關帳維護作業</a> &gt; <a>各險總數上傳維護</a>
            </div>
            <div class="big_title title s1">關帳維護作業</div>
            
            <div class="item_title title s2">應攤回各險總數上傳維護</div>
            <div class="row-group">
                <div class="row">
				    <div class="input-title col-2 col-border">上傳日期</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required></input>
                        
                    </div>
					 <div class="input-title col-2 col-border"></div>
                    <div class="col-4 col-border">
                      
                    </div>
					
                </div>
				<div class="row">
				    <div class="input-title col-2 col-border">險別</div>
                    <div class="col-4 col-border">
                        <select>
                            
                            <option value="">火險</option>
                            <option value="">海上保險  </option>
                            <option value="">意外險</option>
							<option value="">工程險</option>
                            <option value="">傷害險</option>
                            <option value="">車險  </option>                 
                        </select>
                    </div>   
                        
                    
					 <div class="input-title col-2 col-border"></div>
                    <div class="col-4 col-border">
                      
                    </div>
					
                </div>
				<div class="row">
				    <div class="input-title col-2 col-border">上傳檔案</div>
                    <div class="col-4 col-border">
                        <input type="text" placeholder="" required></input><button class="btn btn-primary">上傳</button>    
                        
                    </div>
                        
                    
					 <div class="input-title col-2 col-border"></div>
                    <div class="col-4 col-border">
                      
                    </div>
					
                </div>
				
                
                
            </div>
               
			
			 <div class="x_scroll ">
            	<div class="bread-crumbs">
                <div class="row">
				         <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 筆數：100筆
				         </div>
						 <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 金額：200,308,780元
				         </div>
						 <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				         </div>
						 <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				         </div>
						 <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 單位：新台幣元
				         </div>
                   
                    </div>
					
					<div class="row">
				         <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button class="btn btn-primary">儲存</button>
				         </div>
						 <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				         </div>
						 <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				         </div>
						 <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				         </div>
						 <div class="col-2">
						     &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				         </div>
                   
                    </div>
					
                </div>
				
			
            <div class="filterBar">
                <div class="row-group">
				<!--
                    <div class="row">
                        
                        <div class="col-2">
                            <a href="#" id="" class="pages_icon to_left">⊻</a>
                            <a href="#" id="" class="pages_icon">＜</a>
                            <a href="#" id="" class="pages_icon">＞</a>
                            <a href="#" id="" class="pages_icon to_right">⊼</a>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">0</span>
                            <span id="" class="">筆</span>
                        </div>
                        <div class="col-2">
                            <span id="" class="">每頁</span>
                            <select name="" id="" style="min-width: 40px;">
                                <option value="">10</option>
                                <option value="">50</option>
                                <option value="">100</option>
                                <option value="">200</option>
                            </select>
                            <span id="" class="">筆</span>
                            <button class="btn btn-secondary">go</button>
                        </div>
                        <div class="col-2">
                            <span id="" class="">總共</span>
                            <span id="" class="">1</span>
                            <span id="" class="">頁</span>
                        </div>
                        <div class="col-3">
                            <span id="" class="">目前第</span>
                            <input name="" type="text" value="1" id="" class="" style="width:32px;">
                            <span id="" class="">頁</span>
                            <button class="btn btn-secondary">go</button>
                            <button class="btn btn-primary">清除勾選</button>
                        </div>
                    </div>
                </div>
                
            </div>
			-->
            <!-- table scroll-x -->
           
                <table class="tblCssDataGrid css_table">
                    <tbody><tr class="cssDataGridHeader">
                        
                        <th><a href="">序號</a></th>
						<th><a href="">險別</a></th>
						<th><a href="">險種</a></th>
						<th><a href="">理賠保險賠款</a></th>
						<th><a href="">理賠應攤回賠款</a></th>
						
                        
                    </tr>
                    <tr>
                    	   
                        <td width="5%" align="center">1</td>
						<td width="5%" align="center">意外險</td>
						<td width="5%" align="center">現金險</td>
						<td width="8%" ><input type="text" placeholder="" required value="4,234,522"></input></td>
						<td width="8%" ><input type="text" placeholder="" required value="9,356,665"></input></td>
						
                           
                            
                    </tr>
                    <tr>
                        
                        <td width="5%" align="center">2</td>
						<td width="5%" align="center">意外險</td>
						<td width="5%" align="center">竊盜險</td>
						<td width="8%" ><input type="text" placeholder="" required value="4,234,522"></input></td>
						<td width="8%" ><input type="text" placeholder="" required value="9,356,665"></input></td>
						
                        
                    </tr>
					<tr>
                        
                        <td width="5%" align="center">3</td>
						<td width="5%" align="center">意外險</td>
						<td width="5%" align="center">核能險</td>
						<td width="8%" ><input type="text" placeholder="" required value="4,234,522"></input></td>
						<td width="8%" ><input type="text" placeholder="" required value="9,356,665"></input></td>
						
                        
                    </tr>
                </tbody></table>
            </div>
    </div><!-- content end  -->
	</div>
</section>

</body>


</html>