<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>帳單區域資料格式</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
</head>

<body>
        <div class="container-fluid content">
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">合約作業</a>
            </div>
            <div class="big_title title s1">info</div>
            <div class="item_title title s2">帳單區域資料格式</div>
            <div class="row-group form-row-group" style="border: 1px solid #ccc; padding: 3px;">
            <div class="row-group form-row-group">
                <table class="tblCssDataGrid css_table">
                    <tbody>
                        <tr class="cssDataGridHeader">
                        
                        <th><a href="">Our Statement No<br>帳單編號</a></th>
                        <th><a href="">U/W Year<br>承保年度</a></th>
                        <th><a href="">Currency<br>幣別</a></th>
                        <th><a href="">Balance<br>餘額</a></th>
                    </tr>
                    <tr>
                        <td>1234567</td>
                        <td></td>
                        <td>1234567</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
                <div class="divSpace"></div>
                <button class="btn btn-primary">離開</button>
            </div>
            </div>
        </div>
        <!-- content end  -->
</body>


</html>