<!DOCTYPE html>
<html>
<!--TODO 1.將「div class="row-group"」區塊改為純顯示-->

<head>
    <meta charset="utf-8" lang="zh-Hant-TW">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/png" href="../../shigen/images/general/favicon.ico">
    <title>區域選擇</title>
    <!-- jQuery -->
    <script src="../../shigen/plugin/jquery.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="../../shigen/plugin/bootstrap/bootstrap-grid-customizing.css">
    <!-- fontawsome -->
    <script defer src="../../shigen/fonts/js/all.min.js"></script>
    <link href="../../shigen/fonts/css/all.css" rel="stylesheet">
    <!--load all styles -->
    <!-- 共用樣式 -->
    <link rel="stylesheet" href="../../shigen/css/base.css">
    <!-- menu 樣式 -->
    <link rel="stylesheet" href="../../shigen/css/section_main_top.css">
    <link rel="stylesheet" href="../../shigen/css/menu.css">
    <!-- 主要樣式 -->
    <link rel="stylesheet" href="../../shigen/css/type.css">

    <!-- 自訂JS樣式 -->
    <script src="../../shigen/js/global.js"></script>
</head>

<body>
        <div class="container-fluid content">
            <div class="bread-crumbs">
                <a href="#">分進作業</a> &gt; <a href="#">合約作業</a>
            </div>
            <div class="big_title title s1">territoryCode</div>
            <div class="item_title title s2">區域選擇</div>
            <div class="row-group">
                <div class="col-12 col-border">
                        <select name="" id="">
                            <option value="">全部國家</option>
                            <option value="">非洲</option>
                            <option value="">歐洲</option>
                            <option value="">北美洲</option>
                            <option value="">南美洲</option>
                            <option value="">大洋洲</option>
                            <option value="">南極洲</option>
                        </select>  
                </div>
            </div>
            <!-- 全部國家 -->
            <div class="row-group form-row-group" style="border: 1px solid #ccc; padding: 3px;">
                <div class="row-group form-row-group">
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">300-Africa</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">400-America</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">452-Argentina</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">100-Asia</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">501-Australia</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">500-Australia Zeal</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">225-Austria</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">157-Bahrain</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">141-Banglandesh</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">227-Belgium</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">226-Benelux</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">446-Bolivia</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">445-Brazil</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">124-Brunei</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">128-Burma</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">411-Canada</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">420-Central-America</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">451-Chile</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">442-Columbia</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">426-Costa-Rica</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">214-Denmark</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">433-Dominica</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">443-Ecuador</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">311-Egype</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">200-Europe</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">213-Finland</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">223-France</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">222-Germany</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">244-Greece</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">422-Guatemala</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">434-Haiti</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">423-Honduras</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">121-Hong Kong & Macao</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">Macao</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">215-Iceland</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">142-India</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">140-India Peni</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">123-Indonesia</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">151-Iran</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">155-Isreal</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">243-Italy</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">431-Jamaica</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">112-Japan</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">156-Jordan</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">113-Korea</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">152-Kuwait</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">490-Latin America</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">158-Lebanon</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">229-Luxembourg</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">126-Malaysia</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">421-Mexico</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">150-Middle East</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">228-Netherland</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">503-New Guinea</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">502-New Zealand</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">425-Nicaragua</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">110-North Asia</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">310-North Africa</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">410-North America</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">210-North Europe</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">211-Norway</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">143-Pakistan</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">427-Panama</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">454-Paraguay</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">444-Peru</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">122-Philippines</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">242-Portugal</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">432-Puerto Ric</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">424-Salvador</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">153-Saudi Arab</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">125-Singapore</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">120-South Asia</label>120
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">350-South Africa</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">440-South America N</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">450-South America S</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">240-South Europe</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">241-Spain</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">144-Srilanka</label>120
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">212-Sweden</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">224-Switzerland</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">111-Taiwan ROC</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">127-Thailand</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">430-The Caribbean</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">159-Turkey</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">221-UK</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">154-Union Arab</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">351-Union S.A.</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">453-Uruguay</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">412-USA</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">441-Venezuela</label>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">435-West Indies</label>
                        </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">220-West Europe</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">349-West South Africa</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">000-World Wide</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">018-World Wide Exclude Italy</label>
                            </span>
                        </div>
                        <div class="col-2">
                            <span class="checkbox_box" style="left:0px ;">
                                <input id="check1" type="checkbox" name="check" value="1" checked="">
                                <label for="check1">014-World Wide Exclude Japan</label>
                            </span>
                        </div>
                    </div>
                    <div class="divSpace"></div>
                    <button class="btn btn-primary">加入</button>
                </div>
                </div>
            <!-- 非洲 -->
            <!-- <div class="row-group form-row-group" style="border: 1px solid #ccc; padding: 3px;">
            <div class="row-group form-row-group">
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">DZ-阿爾及利亞</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">AO-安哥拉</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">BJ-貝南</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">BW-波札那</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">英屬印度洋領地</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">BF-布吉納法索</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">BI-蒲隆地</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">CM-喀麥隆</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">CV-維德角</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">CF-中非共和國</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">TD-查德</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">KM-葛摩</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">剛果（金）</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">CD-剛果民主共和國</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">CI-象牙海岸</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">DJ-吉布地</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">EG-埃及</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">GQ-赤道幾內亞</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">ER-厄利垂亞</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">ET-衣索比亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">GA-加彭</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">GM-甘比亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">GH-迦納</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">GN-幾內亞</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">GW-幾內亞比索</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">KE-肯亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">LS-賴索托</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">LR-賴比瑞亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">LY-利比亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">MG-馬達加斯加</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">馬拉威</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">馬里</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">茅利塔尼亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">模里西斯</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">馬約特</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">摩洛哥</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">莫三比克</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">納米比亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">尼日</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">奈及利亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">留尼旺</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">盧安達</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">聖赫倫那</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">聖多美普林西比</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">塞內加爾</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">塞席爾</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">獅子山</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">索馬利亞</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">南非</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">蘇丹</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">史瓦帝尼</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">坦尚尼亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">多哥</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">突尼西亞</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                    <span class="checkbox_box" style="left:0px ;">
                        <input id="check1" type="checkbox" name="check" value="1" checked="">
                        <label for="check1">烏干達</label>
                    </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">撒拉威阿拉伯民主共和國</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">尚比亞</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">辛巴威</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">索馬利蘭</label>
                        </span>
                    </div>
                    <div class="col-2">
                        <span class="checkbox_box" style="left:0px ;">
                            <input id="check1" type="checkbox" name="check" value="1" checked="">
                            <label for="check1">南蘇丹</label>
                        </span>
                    </div>
                </div>
                <div class="divSpace"></div>
                <button class="btn btn-primary">加入</button>
            </div>
            </div> -->

            <div class="row-group"style="border: 1px solid #ccc; padding: 3px;">
                <div class="col-12">
                    全部國家除300-Africa,128-Burma,240-South Europe,其餘全選。
                </div>
                <button class="btn btn-primary">確定</button>
                <button type="button" class="btn btn-delete">刪除</button>
            </div>
        </div>
        <!-- content end  -->
</body>


</html>