<aside>
	<div class="flexbox fjc" id="_menu_side_up">
		<a href="#" class="nav-logo"></a>
	</div>
	<div class="scroll-box">
		<div class="hide-box">
			<div class="scroll-hidden">
				<nav id="_menu_side">
					<div class="list_layer">
						<ul>
							<li>
								<div class="item_title">
									<i class="fas fa-plus-square"></i>
									<span>FRIF</span>
								</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="FRIF001.html">
											<div>FRIF001</div>
										</a>
									</li>
									<li>
										<a href="FRIF004.html">
											<div>FRIF004</div>
										</a>
									</li>
									<li>
										<a href="FRIF026.html">
											<div>FRIF026</div>
										</a>
									</li>
									<li>
										<a href="FRIF027.html">
											<div>FRIF027</div>
										</a>
									</li>
									<li>
										<!-- <a href="#"> -->
											<div class="item_title">國外部未決賠款作業</div>
										<!-- </a> -->
									</li>
									<li class="off">
										<ul>
											<li>
												<a href="#">
													<div>未決賠款登錄與維護</div>
												</a>
											</li>
											<li>
												<a href="#">
													<div>重大賠款登錄與維護</div>
												</a>
											</li>
											<li>
												<a href="#">
													<div>未決賠款異動明細表(可單月、多月比較)</div>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li>
								<div class="item_title">
									<i class="fas fa-plus-square"></i>
									<span>再保</span>
								</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="RIAF001.html">
											<div>RIAF001</div>
										</a>
									</li>
									<li>
										<a href="RIAF002.html">
											<div>RIAF002</div>
										</a>
									</li>
									<li>
										<a href="RIAF007.html">
											<div>RIAF007</div>
										</a>
									</li>
									<li>
										<a href="RIAF008.html">
											<div>RIAF008</div>
										</a>
									</li>
									<li>
										<a href="RIAF011.html">
											<div>RIAF011</div>
										</a>
									</li>
									<li>
										<a href="RIAF012.html">
											<div>RIAF012</div>
										</a>
									</li>
								</ul>
						</ul>
						<ul>
							<li>
								<div class="item_title">
									<i class="fas fa-plus-square"></i>
									<span>國外部</span>
								</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="RF001_A.html">
											<div>RF001_A</div>
										</a>
									</li>
									<li>
										<a href="RF002_A.html">
											<div>RF002_A</div>
										</a>
									</li>
									<li>
										<a href="RF004_A.html">
											<div>RF004_A</div>
										</a>
									</li>
									<li>
										<a href="A(3)Period.html">
											<div>A(3)Period</div>
										</a>
									</li>
									<li>
										<a href="RF007_A(3).html">
											<div>RF007_A(3)</div>
										</a>
									</li>
									<li>
										<a href="A(3)帳單主檔查詢.html">
											<div>A(3)帳單主檔查詢</div>
										</a>
									</li>
									<li>
										<a href="A(6).html">
											<div>A(6)</div>
										</a>
									</li>
									<li>
										<a href="A(9)未決賠款作業.html">
											<div>A(9)未決賠款作業</div>
										</a>
									</li>
									<li>
										<a href="A(9)未決賠款作業.html">
											<div>A(9)重大賠案未決賠款作業</div>
										</a>
									</li>
									<li>
										<a href="A(8)地區累積風險.html">
											<div>A(8)地區累積風險</div>
										</a>
									</li>
									<li>
										<a href="RF026_A(10)公司資料維護檔.html">
											<div>RF026_A(10)公司資料維護檔</div>
										</a>
									</li>
									<li>
										<a href="(2)合約成分作業.html">
											<div>(2)合約成分作業</div>
										</a>
									</li>
									<li>
										<a href="B(3)合約條件摘要.html">
											<div>B(3)合約條件摘要</div>
										</a>
									</li>
									<li>
										<a href="B(3)合約條件摘要_非比例.html">
											<div>B(3)合約條件摘要_非比例</div>
										</a>
									</li>
									<li>
										<a href="D高風險警示國家名單.html">
											<div>D高風險警示國家名單</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						
						<!-- <ul>
							<li>
								<a href="#">
								<div class="item_title">
									<i class="fas fa-briefcase"></i>
									<span>健康險保單資料轉出</span>
								</div>
							</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">
									<div class="item_title">
										<i class="fas fa-search-dollar"></i>
										<span>健康傷害險日結作業</span>
									</div>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">
									<div class="item_title">
										<i class="fas fa-exclamation-circle"></i>
										<span>續保通知明細處理</span>
									</div>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">
									<div class="item_title">
										<i class="fas fa-dice-d6"></i>
										<span>續保到期通知單格式轉出</span>
									</div>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">
									<div class="item_title">
										<i class="far fa-calendar-check"></i>
										<span>保批單日報表</span>
									</div>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="#">
									<div class="item_title">
										<i class="fas fa-box"></i>
										<span>續保狀態查詢</span>
									</div>
								</a>
							</li>
						</ul> -->
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="nav-bt-box">
		<div class="nav-bt-left"></div>
		<div class="nav-bt-right off"></div>
	</div>
</aside>
<script>
	$(document).ready(function () {


		/* 無限層選單：列表收合 */
		$(".list_layer .item_title").click(function () {
			$(this).parent().next().slideToggle(10);
		});


		/* 左側選單：關閉*/
		$(".nav-bt-left").click(function () {
			$("aside").animate({ left: "-200px" }, 500);
			$("section").animate({ paddingLeft: "20px", }, 500);
			$(this).hide();
			$(".nav-bt-right").show();
			$(".main-box").removeClass("mbnoshow");
			$(".content").removeClass("mbnoshow");
		});


		/* 左側選單：開啟*/
		$(".nav-bt-right").click(function () {
			$("aside").animate({ left: "0" }, 500);
			$("section").animate({ paddingLeft: "220px", }, 500);
			$(this).hide();
			$(".nav-bt-left").show();
			$(".main-box").addClass("mbnoshow");
			$(".content").addClass("mbnoshow");
		});

	});
</script>