<aside>
	<div class="flexbox fjc" id="_menu_side_up">
		<a href="login.html" class="nav-logo"></a>
	</div>
	<div class="scroll-box">
		<div class="hide-box">
			<div class="scroll-hidden">
				<nav id="_menu_side">
					<div class="list_layer">
						
						<ul>
							<li>
								<div class="item_title">
									<i class="fas fa-plus-square"></i>
									<span>分進作業</span>
								</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="RF002_A.html">
											<div>合約作業</div>
										</a>
									</li>
									<li>
										<a href="RF007_A(3).html">
											<div>帳單作業</div>
										</a>
									</li>
									<li>
										<a href="FRIF310.html">
											<div>未決賠款作業</div>
										</a>
									</li>
									<li>
										<a href="FRIF401.html">
											<div>估計數作業</div>
										</a>
									</li>
									<li>
										<a href="FRIF201.html">
											<div>統計作業</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						
						<ul>
							<li>
								<div class="item_title">
									<i class="fas fa-plus-square"></i>
									<span>分出作業</span>
								</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="FRIF527.html">
											<div>合約代碼及名稱作業</div>
										</a>
									</li>
									<li>
										<a href="FRIF533.html">
											<div>合約成分作業</div>
										</a>
									</li>
									<li>
										<a href="FRIF301.html">
											<div>分出條件摘要</div>
										</a>
									</li>
									<li>
										<a href="FRIF534.html">
											<div>合約條件變動</div>
										</a>
									</li>
									<li>
										<a href="FRIF535.html">
											<div>合約交易對象查詢與列印</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li>
									<div class="item_title">
										<i class="fas fa-search-dollar"></i>
										<span>公司資料</span>
									</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="FRIF001.html">
											<div>公司資料維護</div>
										</a>
									</li>
									<li>
										<a href="FRIF009.html">
											<div>公司資料查詢</div>
										</a>
									</li>
									
								
									
								</ul>
							</li>
						</ul>
						
						<!-- <ul>
							<li>
								<a href="FRIF002.html">
									<div class="item_title">
										<i class="fas fa-exclamation-circle"></i>
										<span>公司資料查詢(國外部)</span>
									</div>
								</a>
							</li>
						</ul> -->
						<ul>
							<li>
								<a href="FRIF008.html">
									<div class="item_title">
										<i class="fas fa-dice-d6"></i>
										<span>再保人交易明細表</span>
									</div>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="FRIF003.html">
									<div class="item_title">
										<i class="far fa-calendar-check"></i>
										<span>高風險警示國家名單</span>
									</div>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								<a href="FRIF801.html">
								<div class="item_title">
									<i class="fas fa-plus-square"></i>
									<span>風險名單及利害關係人</span>
								</div>
							</a>
							</li>
						</ul>
						<!-- <ul>
							<li>
								<a href="FRIF701.html">
								<div class="item_title">
									<i class="fas fa-plus-square"></i>
									<span>風險名單查詢及列印</span>
								</div>
							    </a>
							</li>
						</ul> -->
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="nav-bt-box">
		<div class="nav-bt-left"></div>
		<div class="nav-bt-right off"></div>
	</div>
</aside>
<script>
	$(document).ready(function () {


		/* 無限層選單：列表收合 */
		$(".list_layer .item_title").click(function () {
			$(this).parent().next().slideToggle(10);
		});


		/* 左側選單：關閉*/
		$(".nav-bt-left").click(function () {
			$("aside").animate({ left: "-200px" }, 500);
			$("section").animate({ paddingLeft: "20px", }, 500);
			$(this).hide();
			$(".nav-bt-right").show();
			$(".main-box").removeClass("mbnoshow");
			$(".content").removeClass("mbnoshow");
		});


		/* 左側選單：開啟*/
		$(".nav-bt-right").click(function () {
			$("aside").animate({ left: "0" }, 500);
			$("section").animate({ paddingLeft: "220px", }, 500);
			$(this).hide();
			$(".nav-bt-left").show();
			$(".main-box").addClass("mbnoshow");
			$(".content").addClass("mbnoshow");
		});

	});
</script>