<aside>
	<div class="flexbox fjc" id="_menu_side_up">
		<a href="login.html" class="nav-logo"></a>
	</div>
	<div class="scroll-box">
		<div class="hide-box">
			<div class="scroll-hidden">
				<nav id="_menu_side">
					<div class="list_layer">
						
						<ul>
							<li>
								<div class="item_title">
									<i class="fas fa-dice-d6"></i>
									<span>分進合約作業</span>
								</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="RF002_A.html">
											<div>比例合約</div>
										</a>
									</li>
                                    <li>
										<a href="RF004_A.html">
											<div>非比例合約</div>
										</a>
									</li>
									<li>
										<a href="RF003.html">
											<div>代表號EPI</div>
										</a>
									</li>
									<li>
										<a href="RF001_A.html">
											<div>合約資料查詢與列印</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						
						<ul>
							<li>
								<div class="item_title">
									<i class="fas fa-dice-d6"></i>
									<span>分進帳單作業</span>
								</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="FRIF005.html">
											<div>帳單臨時檔查詢與列印</div>
										</a>
									</li>
									<li>
										<a href="FRIF311.html">
											<div>帳單主檔查詢</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li>
									<div class="item_title">
										<i class="fas fa-dice-d6"></i>
										<span>分進未決賠款作業</span>
									</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="FRIF314.html">
											<div>未決賠款資料查詢</div>
										</a>
									</li>
								</ul>
							</li> 
						</ul>
						<ul>
							<li>
									<div class="item_title">
										<i class="fas fa-dice-d6"></i>
										<span>估計數(暫)</span>
									</div>
							</li>
							<li class="off">
								<ul>
									<li>
										<a href="FRIF401.html">
											<div>未決賠款併入未達帳</div>
										</a>
									</li>
									<li>
										<a href="FRIF402.html">
											<div>未達帳試算作業</div>
										</a>
									</li>
									<li>
										<a href="FRIF403.html">
											<div>未達帳傳送作業</div>
										</a>
									</li>
									<li>
										<a href="FRIF404.html">
											<div>估計數主檔查詢</div>
										</a>
									</li>
								</ul>
							</li> 
						</ul>
						
						<!-- <ul>
							<li>
								<a href="FRIF002.html">
									<div class="item_title">
										<i class="fas fa-exclamation-circle"></i>
										<span>公司資料查詢(國外部)</span>
									</div>
								</a>
							</li>
						</ul> -->
						<ul>
							<li>
								
									<div class="item_title">
										<i class="fas fa-dice-d6"></i>
										<span>分進統計作業</span>
									</div>
							
							</li>
                            <li class="off">
								<ul>
									<li>
										<a href="FRIF201.html">
											<div>績效表</div>
										</a>
									</li>
									<li>
										<a href="FRIF020.html">
											<div>地區累計風險</div>
										</a>
									</li>
									<li>
										<a href="FRIF202.html">
											<div>帳單資料統計表</div>
										</a>
									</li>
                                    <li>
										<a href="FRIF204.html">
											<div>保費發展</div>
										</a>
									</li>
									<li>
										<a href="FRIF205.html">
											<div>精算三角表</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li>
								<a href="FRIF301.html">
									<div class="item_title">
										<i class="fas fa-dice-d6"></i>
										<span>分出合約作業</span>
									</div>
								</a>
							</li>
						</ul>
						<ul>
							<li>
								
								<div class="item_title">
									<i class="fas fa-dice-d6"></i>
									<span>公司資料</span>
								</div>
						
							</li>
                            <li class="off">
								<ul>
									<li>
										<a href="FRIF009.html">
											<div>公司資料查詢</div>
										</a>
									</li>
									<li>
										<a href="FRIF001.html">
											<div>公司資料維護</div>
										</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul>
							<li>
								<a href="FRIF008.html">
								<div class="item_title">
									<i class="fas fa-dice-d6"></i>
									<span>再保人交易明細表</span>
								</div>
							    </a>
							</li>
						</ul> 
                        <ul>
							<li>
								<a href="FRIF003.html">
								<div class="item_title">
									<i class="fas fa-dice-d6"></i>
									<span>高風險警示國家</span>
								</div>
							    </a>
							</li>
						</ul>
                        <ul>
							<li>
								<a href="FRIF801.html">
								<div class="item_title">
									<i class="fas fa-dice-d6"></i>
									<span>風險名單及利害關係人</span>
								</div>
							    </a>
							</li>
						</ul> 
					</div>
				</nav>
			</div>
		</div>
	</div>
	<div class="nav-bt-box">
		<div class="nav-bt-left"></div>
		<div class="nav-bt-right off"></div>
	</div>
</aside>
<script>
	$(document).ready(function () {


		/* 無限層選單：列表收合 */
		$(".list_layer .item_title").click(function () {
			$(this).parent().next().slideToggle(10);
		});


		/* 左側選單：關閉*/
		$(".nav-bt-left").click(function () {
			$("aside").animate({ left: "-200px" }, 500);
			$("section").animate({ paddingLeft: "20px", }, 500);
			$(this).hide();
			$(".nav-bt-right").show();
			$(".main-box").removeClass("mbnoshow");
			$(".content").removeClass("mbnoshow");
		});


		/* 左側選單：開啟*/
		$(".nav-bt-right").click(function () {
			$("aside").animate({ left: "0" }, 500);
			$("section").animate({ paddingLeft: "220px", }, 500);
			$(this).hide();
			$(".nav-bt-left").show();
			$(".main-box").addClass("mbnoshow");
			$(".content").addClass("mbnoshow");
		});

	});
</script>